@import 'queries';

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar),
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
  // background-color: transparent;
}
md-toolbar.navBar {
  min-height: 54px;
  display: flex;
  flex-flow: row nowrap;

  #btn-back {
    position: absolute;
    top: 0;
    left: -20px;
    border: 0;
    min-height: 54px;
    background-color: transparent;
    transition: 150ms linear all;

    &:hover {
      left: 0;
      transition: 150ms linear all;
    }

    md-icon {
      background-color: $white;
      color: $black;
    }
  }

  .md-toolbar-tools {
    height: 52px;
    max-height: 52px;
    padding: 0 26px;

    .md-button {
      md-icon {
        height: 22px;
        min-height: 22px;
      }
    }

    // a {
    //   display: flex;
    //   flex-flow: column nowrap;
    //   justify-content: center;
    //   align-items: center;
    // }
  }

  a:hover, a:focus {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
  }
}

// md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected,
// md-nav-bar .md-button._md-nav-button.md-unselected {
//   color: #FFFFFF;
// }
//
// .md-button.md-default-theme.md-accent,
// .md-button.md-accent {
//   // color: #000000;
//   color: #FFFFFF;
//   font-weight: 900;
// }
//
// md-nav-bar.md-default-theme md-nav-ink-bar,
// md-nav-bar md-nav-ink-bar {
//   color: #FFFFFF;
//   background: #FFFFFF;
// }


@include breakpoint(iPhoneSE) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPhone8) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPhone8Plus) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPhoneX) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  md-toolbar.navBar {
    #btn-back {
      // min-height: 80px;
      left: 0;
      display: flex;
      justify-content: center;

      &:hover {
        transition: none;
      }

      md-icon {
        // width: 35px;
        // height: 30px;
        // font-size: 30px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $white;
        color: $black;
      }
    }

    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPadPro) {
  md-toolbar.navBar {
    #btn-back {
      min-height: 80px;
      left: 0;
      display: flex;
      justify-content: center;

      &:hover {
        transition: none;
      }

      md-icon {
        width: 35px;
        height: 30px;
        font-size: 30px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $white;
        color: $black;
      }
    }

    .md-toolbar-tools {
      height: 80px;
      max-height: 80px;

      a {
        font-size: 1.5rem;
        font-weight: 800;
      }

      .groupIcon {
        width: 80px;
        height: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;

        md-icon {
          width: 40px;
          height: 40px;
          min-height: 40px;
          font-size: 40px;
        }
      }

      .menuIcon {
        width: 80px;
        height: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;

        md-icon {
          width: 40px;
          height: 40px;
          min-height: 40px;
          font-size: 40px;
        }
      }
    }
  }
}
