@import 'queries';

md-toolbar.navBar {
  color: $white;
  min-height: 54px;
  display: flex;
  flex-flow: row nowrap;
  background-color: transparent !important;
  transition: background-color 0s, color 0s;

  #btn-back {
    position: absolute;
    top: 0;
    left: -20px;
    border: 0;
    min-height: 54px;
    background-color: transparent;
    transition: 150ms linear all;

    &:hover {
      left: 0;
      transition: 150ms linear all;
    }

    md-icon {
      background-color: $white;
      color: $black;
    }
  }

  .md-toolbar-tools {
    height: 52px;
    max-height: 52px;
    padding: 0 26px;

    a {
      height: 40px;

      span {
        font-size: 15px;
        line-height: 42px;
      }
    }

    .material-icons {
      fill: $white;
      color: $white;
      transition: fill 0s, color 0s;
    }

    .md-button {
      md-icon {
        height: 22px;
        min-height: 22px;
      }
    }
  }

  a {
    color: $white;

    &:hover, &:focus {
      color: $white;
      // color: rgba(255, 255, 255, 0.87);
      text-decoration: none;
    }
  }
}

.md-sidenav-left, md-sidenav {
  span.md-body-2 {
    text-transform: uppercase;
  }
}

@include breakpoint(iPhoneSE) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPhone8) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPhone8Plus) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPhoneX) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPhoneXI) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      .md-button {
        md-icon {
          height: 22px;
          min-height: 22px;
        }
      }
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      height: 80px;
      max-height: 80px;

      a {
        span {
          font-size: 26px;
        }
      }

      .groupIcon {
        width: 80px;
        height: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;

        md-icon {
          width: 40px;
          height: 40px;
          min-height: 40px;
          font-size: 40px;
        }
      }

      .menuIcon {
        width: 80px;
        height: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;

        md-icon {
          width: 40px;
          height: 40px;
          min-height: 40px;
          font-size: 40px;
        }
      }
    }
  }

  .md-sidenav-left, md-sidenav {
    .material-icons {
      font-size: 32px;
      min-width: 32px;
      min-height: 32px;
    }
    .md-body-2 {
      font-size: 16px;
    }
    .md-toolbar-tools {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 70px;
      max-height: 70px;

      img {
        height: 50px;
        width: 50px;
        margin-right: 22px;
      }
      .md-body-2 {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}

@include breakpoint(iPadPro) {
  md-toolbar.navBar {
    .md-toolbar-tools {
      height: 80px;
      max-height: 80px;

      a {
        span {
          font-size: 26px;
        }
      }

      .groupIcon {
        width: 80px;
        height: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;

        md-icon {
          width: 40px;
          height: 40px;
          min-height: 40px;
          font-size: 40px;
        }
      }

      .menuIcon {
        width: 80px;
        height: 80px;
        max-height: 80px;
        display: flex;
        justify-content: center;

        md-icon {
          width: 40px;
          height: 40px;
          min-height: 40px;
          font-size: 40px;
        }
      }
    }
  }

  .md-sidenav-left, md-sidenav {
    .material-icons {
      font-size: 32px;
      min-width: 32px;
      min-height: 32px;
    }
    .md-body-2 {
      font-size: 16px;
    }
    .md-toolbar-tools {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 70px;
      max-height: 70px;

      img {
        height: 50px;
        width: 50px;
        margin-right: 22px;
      }
      .md-body-2 {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}
