<md-content class="md-padding groupsHome">
  <md-card class="groupsHomeActions">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" src="/images/home.jpg">
      </md-card-avatar>

      <md-card-header-text>
        <span class="md-headline">{{ groupsHome.group.groupName }}</span>
      </md-card-header-text>
    </md-card-header>

    <md-divider></md-divider>

    <div class="md-card-actions">
      <md-button
        ng-if="main.currentUserId"
        md-nav-sref="propertiesIndex"
        ui-sref="propertiesIndex"
        class="md-raised md-primary md-button md-ink-ripple"
        >
        Search Properties
      </md-button>
      <md-button
        ng-if="(main.currentUserId !== groupsHome.group.createdBy) && (main.user.group.id === groupsHome.group.id)"
        ng-show="(main.currentUserId !== groupsHome.group.createdBy) && (main.user.group.id === groupsHome.group.id)"
        ng-click="groupsHome.leaveGroup(main.currentUserId)"
        class="md-raised md-warn md-button md-ink-ripple"
        >
        Leave
      </md-button>
      <md-button
        ng-if="(main.isAuthenticated && main.currentUserId === groupsHome.group.createdBy)"
        ng-show="(main.isAuthenticated && groupsHome.group.createdBy === main.currentUserId)"
        md-nav-sref="groupsEdit({ id: main.currentGroupId })"
        ui-sref="groupsEdit({ id: main.currentGroupId })"
        class="md-raised md-primary md-button md-ink-ripple"
        >
        Edit
      </md-button>
      <md-button
        ng-if="main.currentUserId === groupsHome.group.createdBy"
        ng-click="groupsHome.delete()"
        class="md-raised md-warn md-button md-ink-ripple"
        >
        Delete
      </md-button>
    </div>
  </md-card>

  <md-card class="groupsHomeFollowers">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Followers</span>
      </md-card-title-text>
    </md-card-title>

    <md-divider></md-divider>

    <md-card-content layout="row" layout-align="center center">

      <div class="joinedUsers" ng-repeat="user in groupsHome.group.users">
        <div class="dialog-demo-content" layout="column" layout-wrap="wrap" layout-margin="auto" layout-align="center center">
          <div
            class="groupUser"
            style="background-image:url('{{ user.profileImageSRC }}'); outline: none;"
            ng-click="groupsHome.showGroupUser(user)"
            title="Show more info"
            >
          </div>
          <h5 style="text-transform: uppercase;">{{ user.username }}</h5>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="md-padding groupsHomeProperties col">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Saved properties</span>
      </md-card-title-text>
    </md-card-title>

    <div class="groupsHomePropertiesContainer row">
      <md-card ng-repeat="selected in groupsHome.selected.listing" ng-animate="'animate'">
        <div style="background-image:url('{{ selected.image_645_430_url }}')" class="zooplaImage"></div>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ selected.displayable_address }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <h3><strong>Address: </strong>{{ selected.displayable_address }}</h3>
          <h3><strong>Price Per Month: </strong>£{{ selected.rental_prices.per_month | number : fractionSize }}</h3>
          <h3><strong>Bedrooms: </strong>{{ selected.num_bedrooms }}</h3>
          <h3><strong>Property Type: </strong>{{ selected.property_type }}</h3>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <md-button
            class="md-primary md-raised"
            ui-sref="groupsPropsShow({ id: groupsHome.group.id, listing_id: selected.listing_id })"
            >
            More Info
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-card>
</md-content>
