<md-content flex="100" class="md-padding groupsHome" layout="column">
  <md-card>
    <md-card-header layout="row" layout-align="center center">
      <md-card-avatar>
        <img class="md-user-avatar" src="/images/home.jpg">
      </md-card-avatar>

      <md-card-header-text>
        <span class="md-headline">{{ groupsHome.group.groupName }}</span>
      </md-card-header-text>
    </md-card-header>

    <!-- <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ groupsHome.group.groupName }}</span>
        <span class="md-subhead">{{ groupsHome.group.owner }}</span>
      </md-card-title-text>
    </md-card-title> -->

    <md-divider></md-divider>

    <md-card-actions layout="column" layout-align="center center">
      <md-button
        ng-click="groupsHome.removeUser()"
        class="md-raised md-warn md-button md-ink-ripple"
        >
        Leave
      </md-button>
      <md-button
        ng-if="main.currentUserId === groupsHome.group.owner"
        md-nav-sref="groupsEdit({ id: main.currentUserGroupId })"
        ui-sref="groupsEdit({ id: main.currentUserGroupId })"
        class="md-raised md-primary md-button md-ink-ripple"
        >
        Edit
      </md-button>
      <md-button
        ng-if="main.currentUserId === groupsHome.group.owner"
        ng-click="groupsHome.delete()"
        class="md-raised md-warn md-button md-ink-ripple"
        >
        Delete
      </md-button>

      <!-- <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="toggle">
          <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
        </md-button>
      </md-card-icon-actions> -->
    </md-card-actions>
  </md-card>
</md-content>

<md-content flex="100" class="md-padding">
  <md-card>
    <md-card-content layout="row" layout-align="center center">
      <h1 class="md-headline">Followers</h1>
    </md-card-content>

    <md-divider ng-if="!$last"></md-divider>

    <md-card-content layout="row" layout-align="center center">

      <div class="groupJoinedUsers" ng-repeat="user in groupsHome.group.users">
        <div class="dialog-demo-content" layout="column" layout-wrap="wrap" layout-margin="auto" layout-align="center center">
          <div class="groupUser" style="background-image:url('{{ user.profileImageSRC }}')"></div>
          <h5>{{ user.username }}</h5>

          <md-dialog-actions layout="row" layout-align="center center">
            <md-button class="md-primary md-raised" ng-click="groupsHome.showGroupUser(user)">View</md-button>
          </md-dialog-actions>
        </div>
      </div>
    </md-card-content>
  </md-card>
</md-content>

<md-content class="md-padding groupsHomeProperties">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Saved properties</span>
        <md-divider ng-if="!$last"></md-divider>
      </md-card-title-text>
    </md-card-title>

    <md-content class="md-padding groupsHomePropertiesList">
      <md-card ng-repeat="selected in groupsHome.selected.listing">
        <md-grid-list class="groupsHomeProperties" layout="column" layout-align="center center">
          <!-- class="md-avatar" on image tag -->
          <img class="groupsShowZooplaImage" ng-src="{{ selected.image_645_430_url }}" alt="{{ selected.image_645_430_url }}">
          <md-button class="md-primary md-raised" ui-sref="groupsPropsShow({ id: groupsHome.group.id, listing_id: selected.listing_id })">Show Property</md-button>
        </md-grid-list>
      </md-card>
    </md-content>
  </md-card>
</md-content>
