<md-content class="md-padding groupsNew">
  <md-card>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">New Group</span>
        <md-divider ng-if="!$last"></md-divider>
      </md-card-title-text>
    </md-card-title>

    <form
      name="groupsNew.groupsNewForm"
      class="groupsNew.groupsNewForm"
      ng-submit="groupsNew.create(users)"
      novalidate
      >

      <div class="col s6">
        <md-input-container class="md-block">
          <md-icon class="material-icons">group_work</md-icon>
          <label for="groupName">Group Name</label>
          <input
            type="text"
            name="groupName"
            id="groupName"
            ng-model="groupsNew.group.groupName"
            ng-minlength="1"
            ng-required="true"
            aria-label="Group name (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="groupsNew.groupsNewForm.groupName.$error"
          ng-show="(groupsNew.groupsNewForm.$submitted || groupsNew.groupsNewForm.groupName.$touched) && groupsNew.groupsNewForm.groupName.$invalid"
          >
          <div ng-message="required">Please enter a group name.</div>
          <div ng-message="minlength">Group name must be at least 4 characters.</div>
        </div>
      </div>

      <div class="col s6 searchUsers">
        <div id="search-bar" ng-show="groupsNew.showPreSearchBar()" class="md-toolbar-tools">
          <md-button ng-click="groupsNew.initiateSearch()">
            <md-icon>search</md-icon>
            <span>Search Users</span>
          </md-button>

        </div>

        <div ng-show="groupsNew.showSearchBar()" class="md-toolbar-tools search-bar">
          <md-button class="md-icon-button" ng-click="groupsNew.submitSearch()">
            <md-icon>search</md-icon>
          </md-button>

          <md-input-container flex>
            <input
              id="search-input"
              type="text"
              class="search"
              name="groupsNew.groupsSearchUsers"
              ng-model="groupsNew.query"
              placeholder="Search for users..."
              >
          </md-input-container>

          <md-button class="md-icon-button" ng-click="groupsNew.endSearch()">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </div>

      <div
        class="col s6 groupUsersToAdd"
        ng-if="(!user.group && user.id !== main.currentUserId)"
        ng-repeat="user in groupsNew.filtered"
        ng-show="(groupsNew.query.length > 0 && groupsNew.chosenUsers.includes(user) !== true)"
        >
        <div ng-click="groupsNew.addUser(user)" class="userSearchResults">
          <img ng-src="{{ user.profileImageSRC }}" alt="{{ user.username }}" class="addUserImage">
          <h5>{{ user.username }}</h5>
        </div>
      </div>


      <div class="chosenUsers">
        <span class="md-headline">Chosen Users:</span>
        <md-divider></md-divider>
      </div>

      <div class="col s6 chosenGroupUsers" ng-repeat="user in groupsNew.chosenUsers">
        <div>
          <img ng-src="{{ user.profileImageSRC }}" alt="{{ user.profileImageSRC }}" class="chosenUsersImage">
          <h5>{{ user.username }}</h5>
          <smart-confirm confirm="groupsNew.removeUser(user)">
            <md-icon class="material-icons">close</md-icon>
          </smart-confirm>
        </div>
      </div>

      <div class="col s6 groupsNewButtons">
        <md-button
          class="md-raised md-primary md-button md-ink-ripple"
          ng-click="groupsNew.create()"
          ng-disabled="groupsNew.groupsNewForm.$invalid"
          >
          <i class="material-icons left"></i>Create
        </md-button>

        <md-button
          class="md-raised"
          ng-click="groupsNew.group = {}"
          >
          <i class="material-icons left"></i>Clear Form
        </md-button>
      </div>
    </form>
  </md-card>
</md-content>
