<md-content class="md-padding groupsShowProp">
  <md-card class="groupsShowPropCard">
    <div class="groupsShowPropCardDiv" ng-repeat="property in groupsPropsShow.properties.listing">

      <md-card class="groupsPropsShowTitle">
        <div>
          <div class="md-card-image propertyImage" style="background-image:url('{{ property.image_645_430_url }}');"></div>
          <!-- <img ng-src="{{ props.floor_plan[0] }}" class="ZooplaImage"> -->
        </div>

        <div>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{ property.displayable_address }}</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <ul>
              <li><md-icon class="material-icons">single_bed</md-icon>{{ property.num_bedrooms }} bedroom</li>
              <li><md-icon class="material-icons">bathtub</md-icon>{{ property.num_bathrooms }} bathroom</li>
              <br>
              <li>
                <span class="md-headline">£{{ property.rental_prices.per_month | number : fractionSize }}</span>
              </li>
            </ul>

            <md-divider></md-divider>

            <ul>
              <li><img class="agencyLogo" ng-src="{{ property.agent_logo }}" alt="Agency Logo"></li>
              <li><span class="md-subhead">{{ property.agent_name }}</span></li>
              <li><md-icon class="material-icons">phone_iphone</md-icon><a class="md-title" href="tel:{{ property.agent_phone }}">{{ property.agent_phone }}</a></li>
            </ul>
          </md-card-content>

          <md-card-actions class="propertyActions" layout="row" layout-align="start center">

            <!-- <md-button class="md-raised md-primary md-button md-ink-ripple" aria-label="Like">
              <md-icon class="material-icons" ng-show="!groupsPropsShow.hasVoted" ng-click="groupsPropsShow.addLike()">favorite_border</md-icon>
              <md-icon class="material-icons" ng-show="groupsPropsShow.hasVoted" ng-click="groupsPropsShow.deleteLike(groupsPropsShow.userLike)">favorite</md-icon>
              <span>{{ groupsPropsShow.prop.likes.length }}</span>
            </md-button> -->

            <md-button class="md-raised md-warn md-button md-ink-ripple">Email Agent</md-button>
            <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="groupsPropsShow.deleteProperty(property)" ng-if="main.isAuthenticated()">Delete Property</md-button>
          </md-card-actions>
        </div>
      </md-card>

      <md-card class="propertyTabs">
        <md-tabs class="md-primary" md-center-tabs="" md-dynamic-height md-border-bottom>
          <md-tab label="Property Details">
            <md-content class="md-padding">
              <p class="md-body-1">{{ property.description }}</p>
            </md-content>
          </md-tab>

          <md-tab label="Maps & Nearby">
            <md-content>
              <property-map
                property="property"
                lat="property.latitude"
                lng="property.longitude"
                center="groupsPropsShow.geometry"
                >
              </property-map>
            </md-content>
          </md-tab>

          <md-tab label="Crime Stats">
            <md-content class="md-padding">
              <canvas
                basechart
                height="50%"
                class="chart chart-doughnut"
                id="doughnut"
                chart-data="groupsPropsShow.crimes.crimeData"
                chart-labels="groupsPropsShow.labels"
                chart-legend="false"
                chart-options="groupsPropsShow.chartOptions"
                >
              </canvas>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card>

      <md-card class="md-padding propertyAddRating">
        <div class="ratings">
          <form class="ratingForm" ng-submit="groupsPropsShow.addRating()" ng-if="main.isAuthenticated()">
            <md-input-container class="md-block">
              <label for="rating"></label>
              <span
                class="ratingBox"
                name="rating"
                id="rating"
                uib-rating
                ng-model="groupsPropsShow.newRating.stars"
                max="groupsPropsShow.max"
                read-only="groupsPropsShow.isReadonlyfalse"
                on-hover="hoveringOver(value)"
                on-leave="overStar = null"
                >
              </span>
            </md-input-container>

            <md-button
              class="md-raised md-primary md-button md-ink-ripple addimage"
              ng-click="groupsPropsShow.addRating()"
              ng-disabled="!groupsPropsShow.newRating.stars"
              >
              <md-icon class="material-icons" aria-label="Leave a review">stars</md-icon>
            </md-button>
          </form>
        </div>
      </md-card>

      <md-card class="md-padding propertyRatings" ng-show="groupsPropsShow.prop.ratings.length > 0">
        <div class="ratingList">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Ratings</span>
            </md-card-title-text>
          </md-card-title>

          <md-divider></md-divider>

          <div class="userRatings" ng-repeat="rating in groupsPropsShow.prop.ratings track by $index">
            <img class="md-card-image userRatingImage" ng-src="{{ rating.createdBy.profileImageSRC }}" alt="User Image">

            <div class="userRatingOpinion">
              <span
                uib-rating
                ng-model="rating.stars"
                max="groupsPropsShow.max"
                read-only="groupsPropsShow.isReadonly"
                on-hover="hoveringOver(value)"
                on-leave="overStar = null"
                >
              </span>
              <strong>{{ rating.createdBy.username }}</strong>
            </div>

            <smart-confirm confirm="groupsPropsShow.deleteRating(rating)">
              <md-icon class="material-icons">close</md-icon>
            </smart-confirm>
          </div>
        </div>
      </md-card>

      <md-card class="md-padding propertyAddImage">
        <form class="addImageForm" ng-submit="groupsPropsShow.addImage()" ng-if="main.isAuthenticated()">
          <div class="uploadPhoto">
            <label for="base64" class="md-raised md-accent md-button md-ink-ripple addimage">
              <md-icon class="material-icons" aria-label="Add an image">add_a_photo</md-icon>
            </label>
            <input
              base64
              type="file"
              name="base64"
              id="base64"
              ng-model="groupsPropsShow.newImage.base64"
              placeholder="Property image link.."
              style="display:none"
              >
          </div>
          <md-button
            ng-disabled="!groupsPropsShow.newImage.base64"
            class="md-raised md-primary md-button md-ink-ripple addimage"
            ng-click="groupsPropsShow.addImage()"
            >
            <md-icon class="material-icons" aria-label="Upload image">cloud_upload</md-icon>
          </md-button>
        </form>
      </md-card>

      <md-card class="md-padding propertyImages" ng-show="groupsPropsShow.prop.images.length > 0">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Images</span>
          </md-card-title-text>
        </md-card-title>

        <md-divider></md-divider>
        <br>

        <div class="groupsPropsShowUserImages row">
          <div class="col s2" ng-repeat="image in groupsPropsShow.prop.images track by $index">

            <md-card>
              <md-card-header>

                <md-card-avatar>
                  <img
                    ng-src="{{ image.createdBy.profileImageSRC }}"
                    width="30"
                    height="30"
                    style="border-radius:50px;margin-right:10px"
                    />
                </md-card-avatar>

                <md-card-header-text>
                  <span class="md-title">{{ image.createdBy.username }}</span>
                </md-card-header-text>

              </md-card-header>

              <img
                class="userImages img-fluid img-thumbnail"
                ng-click="groupsPropsShow.showUserImage(image)"
                style="background-image:url('{{ image.imageSRC }}')"
                />

              <div class="md-card-actions">
                <smart-confirm confirm="groupsPropsShow.deleteImage(image)">
                  <md-icon class="material-icons">close</md-icon>
                </smart-confirm>
              </div>
            </md-card>

          </div>
        </div>
      </md-card>

      <md-card class="md-padding propertyAddReview">
        <div class="addComment">
          <div class="row">
            <form class="addCommentForm" ng-submit="groupsPropsShow.addComment()" ng-if="main.isAuthenticated()">
              <div class="col s12">
                <md-input-container class="md-block">
                  <textarea
                    ng-model="groupsPropsShow.newComment.text"
                    md-maxlength="150"
                    maxlength="150"
                    placeholder="Right a comment..."
                    aria-label="Review (required)"
                    style="width:100%;"
                    >
                  </textarea>
                </md-input-container>
              </div>

              <md-card-actions>
                <md-button
                  type="button"
                  class="md-raised md-primary md-button md-ink-ripple"
                  ng-click="groupsPropsShow.addComment()"
                  ng-disabled="!groupsPropsShow.newComment.text"
                  aria-label="Close"
                  >
                  <md-icon class="material-icons" aria-label="Right a comment">mode_comment</md-icon>
                </md-button>
              </md-card-actions>
            </form>
          </div>
        </div>
      </md-card>

      <md-card class="md-padding propertyReviews" ng-show="groupsPropsShow.prop.comments.length > 0">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Reviews</span>
          </md-card-title-text>
        </md-card-title>

        <md-divider></md-divider>

        <md-list class="comment-list">
          <md-list-item class="md-3-line" ng-repeat="comment in groupsPropsShow.prop.comments track by $index">
            <img ng-src="{{ comment.createdBy.profileImageSRC }}" class="md-avatar" alt="{{ comment.createdBy.profileImageSRC }}" />

            <div class="md-list-item-text" layout="column">
              <h3>{{ comment.createdBy.username }}</h3>
              <h4>{{ comment.createdAt }}</h4>
              <p>{{ comment.text }}</p>
            </div>

            <smart-confirm confirm="groupsPropsShow.deleteComment(comment)">
              <md-icon class="material-icons">close</md-icon>
            </smart-confirm>
          </md-list-item>
        </md-list>
      </md-card>

    </div>
  </md-card>
</md-content>
