<md-content class="md-padding groupsShowProp">
  <md-card>

    <div ng-repeat="property in groupsPropsShow.properties.listing">
      <div class="groupsPropsShow_title">
        <div>
          <div
            class="md-card-image propertyImage"
            style="background-image:url('{{ property.image_645_430_url }}');"
            >
          </div>
        </div>

        <div>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{ property.displayable_address }}</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <ul>
              <li><md-icon class="material-icons">single_bed</md-icon>{{ property.num_bedrooms }} bedroom</li>
              <li><md-icon class="material-icons">bathtub</md-icon>{{ property.num_bathrooms }} bathroom</li>
              <br>
              <li><span class="md-headline">£{{ property.rental_prices.per_month | number : fractionSize }}</span></li>
            </ul>

            <md-divider></md-divider>

            <ul>
              <li><img class="agencyLogo" ng-src="{{ property.agent_logo }}" alt="Agency Logo"></li>
              <li><span class="md-subhead">{{ property.agent_name }}</span></li>
              <li><md-icon class="material-icons">phone_iphone</md-icon><a class="md-title" href="tel:{{ property.agent_phone }}">{{ property.agent_phone }}</a></li>
            </ul>
          </md-card-content>

          <md-card-actions class="propertyActions" layout="row" layout-align="start center">
            <md-button
              class="md-raised md-warn md-button md-ink-ripple"
              >
              Email Agent
            </md-button>
            <md-button
              class="md-raised md-primary md-button md-ink-ripple"
              ng-click="groupsPropsShow.deleteProperty(property)"
              ng-if="main.isAuthenticated()"
              >
              Delete Property
            </md-button>
          </md-card-actions>

          <md-divider></md-divider>

          <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions>

              <!-- <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon class="material-icons" ng-click="groupsPropsShow.like(properties._id, $event)">
                  favorite
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  (<span class="likes">{{ properties.likes.length }}</span>)
                </md-icon>
              </md-button> -->

              <md-button
                class="md-raised md-primary md-button md-ink-ripple"
                ng-click="groupsPropsShow.upvote(property.listing_id, $event)"
                aria-label="Like"
                >
                <!-- {{ groupsPropsShow.properties }} -->
                <!-- Like -->
                <!-- <i class="fas fa-thumbs-up"></i> -->
                <md-icon class="material-icons">thumb_up</md-icon>
                <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> -->
                (<span class="likes">{{ groupsPropsShow.group.properties[0].upvotes.length }}</span>)
              </md-button>
              <md-button
                class="md-raised md-primary md-button md-ink-ripple"
                ng-click="groupsPropsShow.downvote(property.listing_id, $event)"
                aria-label="Dislike"
                >
                <!-- ng-click="groupsPropsShow.addDislike(properties.listingId, $event)" -->
                <!-- Dislike -->
                <!-- <i class="fas fa-thumbs-down"></i> -->
                <md-icon class="material-icons">thumb_down</md-icon>
                <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i> -->
                (<span class="likes">{{ groupsPropsShow.group.properties[0].downvotes.length }}</span>)
              </md-button>

              <!-- <md-button class="md-icon-button" aria-label="Share">
                <md-icon class="material-icons">share</md-icon>
              </md-button> -->

            </md-card-icon-actions>
          </md-card-actions>
        </div>
      </div>

      <!-- CHANGE MD-CONTENT TO MD-CARD-CONTENT -->
      <!-- ADD CLASS TO MD-CARD-CONTENTS -->

      <md-content class="propertyTabs">
        <md-tabs class="md-primary" md-center-tabs="" md-dynamic-height md-border-bottom>
          <md-tab label="Property Details">
            <md-content class="md-padding">
              <!-- <h2 class="md-display-1 center-align">Property Details</h2> -->
              <!-- <br> -->
              <p class="md-body-1">{{ property.description }}</p>
            </md-content>
          </md-tab>

          <md-tab label="Maps & Nearby">
            <md-content>
              <!-- <h2 class="md-display-1 center-align">Maps & Nearby</h2> -->
              <!-- <br> -->
              <!-- <code>{{ groupsPropsShow }}</code> -->
              <!-- ng-if="property.length && main.currentUser.$resolved" -->

              <property-map
                property="property"
                lat="property.latitude"
                lng="property.longitude"
                center="groupsPropsShow.latLng"
                >
              </property-map>

              <!-- ng-if="property.length && main.currentUser.$resolved" -->
              <!-- <google-map
                property="property"
                lat="property.latitude"
                lng="property.longitude"
                center="groupsPropsShow.latLng"
                >
              </google-map> -->
            </md-content>
          </md-tab>

          <md-tab label="Crime Stats">
            <md-content class="md-padding">
              <!-- <h2 class="md-display-1 center-align">Crime Stats</h2> -->
              <!-- <br> -->
              <canvas
                basechart
                height="50%"
                class="chart chart-doughnut"
                id="doughnut"
                chart-data="groupsPropsShow.crimes.pieCrimeData"
                chart-labels="groupsPropsShow.labels"
                chart-legend="false"
                chart-options="groupsPropsShow.chartOptions"
                >
              </canvas>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>

      <md-card-content>
        <div class="ratings">
          <form
            class="ratingForm"
            ng-submit="groupsPropsShow.addRating()"
            ng-if="main.isAuthenticated()"
            >
            <div class="col s6">
              <md-input-container class="md-block">
                <!-- <md-icon class="material-icons">group_work</md-icon> -->
                <label for="rating"></label>
                <span
                  class="ratingBox"
                  name="rating"
                  id="rating"
                  uib-rating
                  ng-model="groupsPropsShow.newRating.stars"
                  max="groupsPropsShow.max"
                  read-only="groupsPropsShow.isReadonlyfalse"
                  on-hover="hoveringOver(value)"
                  on-leave="overStar = null"
                  >
                </span>
              </md-input-container>
            </div>

            <div class="col s6">
              <md-button class="md-raised md-primary md-button md-ink-ripple addimage" ng-click="groupsPropsShow.addRating()">
                <i class="material-icons left"></i>Add Rating
              </md-button>
            </div>
          </form>
        </div>

        <br>
        <md-divider></md-divider>

        <div class="ratingList">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Ratings</span>
            </md-card-title-text>
          </md-card-title>

          <md-divider></md-divider>

          <div
            ng-repeat="rating in groupsPropsShow.prop.rating track by $index"
            class="col s4 userRatings"
            >
            <img class="md-card-image userRatingImage" ng-src="{{ rating.createdBy.profileImageSRC }}" alt="User Image">

            <div class="userRatingOpinion">
              <strong>{{ rating.createdBy.username }}</strong>
              <span
                uib-rating ng-model="rating.stars"
                max="groupsPropsShow.max"
                read-only="groupsPropsShow.isReadonly"
                on-hover="hoveringOver(value)"
                on-leave="overStar = null"
                >
              </span>
            </div>

            <smart-confirm confirm="groupsPropsShow.deleteRating(rating)">
              <md-icon class="material-icons">close</md-icon>
            </smart-confirm>
          </div>
        </div>

      </md-card-content>

      <md-divider></md-divider>

      <md-card-content>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Add Image</span>
          </md-card-title-text>
        </md-card-title>

        <div class="col s4">
          <form
            class="addImageForm"
            ng-submit="groupsPropsShow.addImage()"
            ng-if="main.isAuthenticated()"
            >
            <div class="uploadPhoto">
              <label
                for="base64"
                class="md-raised md-accent md-button md-ink-ripple addimage"
                >
                <md-icon class="material-icons">add_a_photo</md-icon>
              </label>
              <input
                base64
                type="file"
                name="base64"
                id="base64"
                ng-model="groupsPropsShow.newImage.base64"
                placeholder="Property image link.."
                style="display:none"
                >
            </div>
            <!-- <label
              for="image"
              class="addimage smaller"
              >
              <md-icon class="material-icons">add_a_photo</md-icon>
              Choose image
            </label> -->
            <md-button
              type="button"
              ng-click="groupsPropsShow.addImage()"
              class="md-raised md-primary md-button md-ink-ripple addimage"
              >
              Upload
            </md-button>
          </form>
        </div>

        <br>
        <md-divider></md-divider>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Images</span>
          </md-card-title-text>
        </md-card-title>

        <md-divider></md-divider>
        <br>

        <div class="groupsPropsShowUserImages row">
          <div class="col s4" ng-repeat="image in groupsPropsShow.prop.images track by $index">

            <md-card>
              <md-card-header>

                <md-card-avatar>
                  <img
                    ng-src="{{ image.createdBy.profileImageSRC }}"
                    width="30"
                    height="30"
                    style="border-radius:50px;margin-right:10px"
                    />
                </md-card-avatar>

                <md-card-header-text>
                  <span class="md-title">{{ image.createdBy.username }}</span>
                  <!-- <span class="md-subhead">{{ image.createdBy.createdAt }}</span> -->
                </md-card-header-text>

              </md-card-header>

              <img
                class="userImages img-fluid img-thumbnail"
                ng-click="groupsPropsShow.showUserImage(image)"
                style="background-image:url('{{ image.imageSRC }}')"
                >

              <md-card-actions>
                <!-- <md-button
                  style="width:100%; margin:0;"
                  type="button"
                  class="md-raised md-warn md-button md-ink-ripple"
                  ng-click="groupsPropsShow.deleteImage(image)"
                  aria-label="Close"
                  >
                  Delete
                </md-button> -->
                <smart-confirm confirm="groupsPropsShow.deleteImage(image)">
                  <md-icon class="material-icons">close</md-icon>
                </smart-confirm>
              </md-card-actions>
            </md-card>

          </div>
        </div>
      </md-card-content>

      <md-divider></md-divider>

      <md-card-content>
        <div class="addComment">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Add Review</span>
            </md-card-title-text>
          </md-card-title>

          <div class="row">
            <form
              ng-submit="groupsPropsShow.addNote()"
              ng-if="main.isAuthenticated()"
              >
              <div class="col s12">
                <md-input-container class="md-block">
                  <!-- <md-icon class="material-icons">group_work</md-icon> -->
                  <textarea
                    ng-model="groupsPropsShow.newNote.text"
                    md-maxlength="150"
                    maxlength="150"
                    placeholder="Post a review.."
                    aria-label="Review (required)"
                    style="width:100%;"
                    >
                  </textarea>
                  <!-- <br> -->
                </md-input-container>
              </div>

              <md-card-actions>
                <md-button
                  type="button"
                  class="md-raised md-warn md-button md-ink-ripple"
                  ng-click="groupsPropsShow.addNote()"
                  aria-label="Close"
                  >
                  Post
                </md-button>
              </md-card-actions>
            </form>
          </div>

          <md-divider></md-divider>

          <div class="row">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Reviews</span>
              </md-card-title-text>
            </md-card-title>

            <md-divider></md-divider>

            <md-list class="comment-list">
              <md-list-item class="md-3-line" ng-repeat="note in groupsPropsShow.prop.notes track by $index" ng-click="null">
                <img ng-src="{{ note.createdBy.profileImageSRC }}" class="md-avatar" alt="{{ note.createdBy.profileImageSRC }}" />
                <div class="md-list-item-text" layout="column">
                  <h3>{{ note.createdBy.username }}</h3>
                  <!-- <h4>{{ note.createdBy.what }}</h4> -->
                  <p>{{ note.text }}</p>

                </div>

                <smart-confirm confirm="groupsPropsShow.deleteNote(note)">
                  <md-icon class="material-icons">close</md-icon>
                </smart-confirm>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>

            <!-- <div ng-repeat="note in groupsPropsShow.prop.notes track by $index" class="col s3">

              <md-card>

                <md-card-header>

                  <md-card-avatar>
                    <img src="{{ note.createdBy.profileImageSRC }}" width="30" height="30" style="border-radius:50px;margin-right:10px" />
                  </md-card-avatar>

                  <md-card-header-text>
                    <span class="md-title">{{ note.createdBy.username }}</span>
                  </md-card-header-text>

                </md-card-header>

                <md-card-content>
                  <span class="md-body-1 noteText">{{ note.createdBy.text }}</span>
                </md-card-content>

                <md-card-actions>
                  <md-button
                    style="width:100%; margin:0;"
                    type="button"
                    class="md-raised md-warn md-button md-ink-ripple"
                    ng-click="groupsPropsShow.deleteNote(note)"
                    aria-label="Close"
                    >
                    Delete
                  </md-button>

                  <smart-confirm confirm="groupsPropsShow.deleteNote(note)">
                    <md-icon class="material-icons">close</md-icon>
                  </smart-confirm>
                </md-card-actions>
              </md-card>
            </div> -->
          </div>

        </div>
      </md-card-content>
    </div>

  </md-card>
</md-content>
