<md-content class="md-padding usersEdit">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Edit Your Profile</span>
      </md-card-title-text>
    </md-card-title>


    <form
      name="usersEdit.usersEditForm"
      class="usersEdit.usersEditForm"
      ng-submit="usersEdit.update()"
      novalidate
      >

      <div>
        <md-input-container>
          <md-icon class="material-icons">person</md-icon>
          <label for="username">Username</label>
          <input
            id="username"
            type="username"
            name="username"
            ng-model="usersEdit.user.username"
            ng-required="true"
            aria-label="Username (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="usersEdit.usersEditForm.username.$error"
          ng-show="(usersEdit.usersEditForm.$submitted || usersEdit.usersEditForm.username.$touched) && usersEdit.usersEditForm.username.$invalid"
          >
          <div ng-message="required">Please enter your username.</div>
        </div>
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">email</md-icon>
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            ng-model="usersEdit.user.email"
            ng-required="true"
            aria-label="Email (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="usersEdit.usersEditForm.email.$error"
          ng-show="(usersEdit.usersEditForm.$submitted || usersEdit.usersEditForm.email.$touched) && usersEdit.usersEditForm.email.$invalid"
          >
          <div ng-message="required">Please enter your email address.</div>
          <div ng-message="email">Please enter a valid email address.</div>
        </div>

        <!-- Error message! -->
        <!-- <p class="alert alert-danger" ng-show="(usersEdit.user.email.$submitted || usersEdit.user.email.$touched) && usersEdit.user.email.$invalid">Email address not valid</p> -->
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">attach_money</md-icon>
          <label for="budget">Budget</label>
          <input
            id="budget"
            type="budget"
            name="budget"
            ng-model="usersEdit.user.budget"
            ng-required="true"
            aria-label="Username (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="usersEdit.usersEditForm.budget.$error"
          ng-show="(usersEdit.usersEditForm.$submitted || usersEdit.usersEditForm.budget.$touched) && usersEdit.usersEditForm.budget.$invalid"
          >
          <div ng-message="required">Please enter your budget.</div>
        </div>
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">lock</md-icon>
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            ng-model="usersEdit.user.password"
            ng-minlength="1"
            ng-required="true"
            aria-label="Password (required)"
            >
        </md-input-container>

        <!-- <p class="alert alert-danger" ng-show="usersEdit.password.$error.minlength || form.password.$invalid">Password must be at least 6 characters</p> -->

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="usersEdit.usersEditForm.password.$error"
          ng-show="(usersEdit.usersEditForm.$submitted || usersEdit.usersEditForm.password.$touched) && usersEdit.usersEditForm.password.$invalid"
          >
          <div ng-message="required">Please enter your password.</div>
          <div ng-message="minlength">Password must be at least 1 characters.</div>
        </div>
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">lock</md-icon>
          <label for="passwordConfirmation">Password Confirmation</label>
          <input
            id="passwordConfirmation"
            type="password"
            name="passwordConfirmation"
            ng-model="usersEdit.user.passwordConfirmation"
            ng-minlength="1"
            ng-required="true"
            compare-to="usersEdit.user.password"
            aria-label="Password Confirmation (required)"
            >
        </md-input-container>

        <!-- <p class="alert alert-danger" ng-show="(usersEdit.password.$submitted || usersEdit.passwordConfirmation.$touched) && (user.password !== user.passwordConfirmation)">Password does not match</p> -->

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="usersEdit.usersEditForm.passwordConfirmation.$error"
          ng-show="(usersEdit.usersEditForm.password.$submitted || usersEdit.usersEditForm.passwordConfirmation.$touched) && usersEdit.usersEditForm.passwordConfirmation.$invalid"
          >
          <div ng-message="required">Please re-enter your password.</div>
          <div ng-message="minlength">Password must be at least 1 characters.</div>
          <div ng-message="compareTo">Your password does not match.</div>
        </div>

      </div>

      <div class="uploadPhoto">
        <label
          for="base64"
          class="md-raised md-accent md-button md-ink-ripple"
          >
          <md-icon class="material-icons">add_a_photo</md-icon>
        </label>
        <input
          base64
          type="file"
          name="base64"
          id="base64"
          ng-model="usersEdit.user.base64"
          placeholder="Profile image link.."
          style="display:none"
          >
      </div>

      <div>
        <md-button
          class="md-raised md-primary md-button md-ink-ripple"
          ng-click="usersEdit.update()"
          ng-disabled="usersEdit.usersEditForm.$invalid"
          >
          <i class="material-icons left"></i>Update
        </md-button>

        <md-button
          type="button"
          class="md-raised"
          ng-click="usersEdit.user = {}"
          >
          <i class="material-icons left"></i>Clear Form
        </md-button>
      </div>
    </form>
  </md-card>
</md-content>
