section.home {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .material-icons {
    margin: 0;
    width: 80px;
    height: 80px;
    font-size: 80px;
    color: $white;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
  }

  section.account {
    padding: 4rem 0 0 0;
    display: flex;
    flex-flow: row wrap;

    .md-button, a {
      min-width: 125px;
      box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.26);
      background-color: $white;
      color: $black;
    }
  }
}

@include breakpoint(iPhoneSE) {
  section.home {
    @include iOS-Viewport;

    .material-icons {
      width: 55px;
      height: 55px;
      font-size: 55px;
    }
    h1 {
      font-size: 1.5rem !important;
    }
    h2 {
      font-size: 100%;
    }
    section.account {
      padding: 2rem 0 0 0;
      display: flex;
      flex-flow: row wrap;
    }
  }
}

@include breakpoint(iPhone8) {
  section.home {
    @include iOS-Viewport;

    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 100%;
    }
  }
}

@include breakpoint(iPhone8Plus) {
  section.home {
    @include iOS-Viewport;

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 100%;
    }
  }
}

@include breakpoint(iPhoneX) {
  section.home {
    @include iOS-Viewport;

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 100%;
    }
  }
}

@include breakpoint(iPhoneXI) {
  section.home {
    @include iOS-Viewport;

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 100%;
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  section.home {
    .material-icons {
      width: 100px;
      height: 100px;
      font-size: 100px;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}

@include breakpoint(iPadPro) {
  section.home {
    .material-icons {
      width: 125px;
      height: 125px;
      font-size: 125px;
    }
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 1.9rem;
    }
  }
}
