@import 'mixins';

body.home {
  @include cover-background('https://pixabay.com/get/55e5d3474357a914f6d1867dda6d49214b6ac3e45656734876277bd395/apartment-3564955_1920.jpg');
  width: 100vw;
  height: 100vh;

  md-toolbar.navBar {
    color: $brand-color;
    transition: background-color 0s, color 0s;

    #btn-back md-icon {
      background-color: $brand-color;
      color: $white;
      transition: background-color 0s, color 0s;
    }

    a {
      color: $brand-color;

      &:hover, &:focus {
        color: $brand-color;
      }
    }

    .material-icons {
      fill: $brand-color;
      color: $brand-color;
      transition: fill 0s, color 0s;
    }
    .md-toolbar-tools a:hover {
      color: $brand-color;
      // color: #333333;
      transition: color 0s;
    }
  }
  footer .footer-toolbar {
    background-color: transparent;
    color: $brand-color;
    transition: background-color 0s, color 0s;
  }
}

section.home {
  @include vertical-horizontal-center();
  background-color: rgba(106, 27, 154, 0.9);
  // background-color: $brand-color;
  border-radius: 10px;
  width: 35%;
  // height: 50%;
  padding: 2rem;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .material-icons {
    margin: 0;
    width: 80px;
    height: 80px;
    font-size: 80px;
    color: $white;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
    padding: 2rem 0 0 0;
  }

  section.account {
    padding: 4rem 0 0 0;
    display: flex;
    flex-flow: row wrap;

    .md-button, a {
      min-width: 125px;
      box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.26);
      background-color: $white;
      color: $black;
    }
  }
}

.typer__cursor--blink {
  -webkit-animation: blink 800ms infinite;
     -moz-animation: blink 800ms infinite;
          animation: blink 800ms infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


@include breakpoint(iPhoneSE) {
  section.home {
    width: 80%;
    // @include iOS-Viewport;

    .material-icons {
      width: 55px;
      height: 55px;
      font-size: 55px;
    }
    h1 {
      font-size: 1.5rem !important;
    }
    h2 {
      font-size: 100%;
      text-align: center;
      @include word-overflow;
    }
    section.account {
      padding: 1rem 0 0 0;
      display: flex;
      flex-flow: row wrap;

      .md-button {
        font-size: 12px;
        min-height: 30px;
        line-height: 30px;
      }
    }
  }
}

@include breakpoint(iPhone8) {
  section.home {
    width: 80%;
    // @include iOS-Viewport;

    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 100%;
      text-align: center;
      @include word-overflow;
    }
    section.account {
      padding: 1rem 0 0 0;
    }
  }
}

@include breakpoint(iPhone8Plus) {
  section.home {
    width: 80%;
    // @include iOS-Viewport;

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 100%;
      text-align: center;
      @include word-overflow;
    }
    section.account {
      padding: 1rem 0 0 0;
    }
  }
}

@include breakpoint(iPhoneX) {
  section.home {
    width: 80%;
    // @include iOS-Viewport;

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 100%;
      text-align: center;
      @include word-overflow;
    }
    section.account {
      padding: 1rem 0 0 0;
    }
  }
}

@include breakpoint(iPhoneXI) {
  section.home {
    // @include iOS-Viewport;

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 100%;
      text-align: center;
      @include word-overflow;
    }
    section.account {
      padding: 1rem 0 0 0;
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  section.home {
    width: 50%;

    .material-icons {
      width: 100px;
      height: 100px;
      font-size: 100px;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
      text-align: center;
      @include word-overflow;
    }
    section.account {
      padding: 3rem 0 0 0;
    }
  }
}

@include breakpoint(iPadPro) {
  section.home {
    width: 50%;

    .material-icons {
      width: 125px;
      height: 125px;
      font-size: 125px;
    }
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 1.9rem;
      text-align: center;
      @include word-overflow;
    }
    section.account {
      padding: 3rem 0 0 0;
    }
  }
}
