.groupsEdit {
  background-color: #6a1b9a;

  md-card {
    width: 50%;
    margin: 0 auto;
    padding: 2.5rem;

    md-card-title {
      margin: 0 auto 2.5rem auto;
    }

    form {
      md-input-container {
        width: 100%;
        margin: 0.5rem 0;
      }
      label {
        width: 100%;
        margin: 1rem 0;
      }
      button {
        width: 100%;
        margin: 0 0 1rem 0;
      }
      img {
        border-radius: 50%;
        width: 25px;
        height: 25px;
      }

    }
  }
  .md-toolbar-tools {
    padding: 0;

    .md-button {
      // width: 100%;
      padding: 0;
    }

    .md-button:last-child {
      margin: 0;
    }
    .md-button:first-child {
      margin: 0;
    }
  }
  .chosenUsers {
    // width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    // text-align: center;
    // margin: 0.5rem 0;
    // padding: 0.5rem 0;
  }
  .chosenGroupUsers {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0;

    smart-confirm {
      margin: 0;

      // md-icon {
      //   font-size: 16px;
      //   width: 15px;
      //   height: 15px;
      //   min-width: 15px;
      //   min-height: 15px;
      // }
    }
    // .md-divider {
    //   margin: 5px 0;
    // }
    div {
      // padding: 0 1rem;
      // margin: 0.25rem 0;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      h5 {
        // padding: 0 0 0 1rem;
        text-transform: uppercase;
      }
      .md-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        min-width: 25px;
        height: 25px;
        min-height: 25px;
        // max-width: 25px;
        // height: 25px;
        // min-height: 25px;
        // max-height: 25px;
        margin: 0 0.5rem;
        // padding: 0 0 0 1rem;
        // text-transform: uppercase;

        md-icon {
          font-size: 18px;
          height: auto;
          width: auto;
          min-height: auto;
          min-width: auto;
        }
        // .material-icons {
        //   font-size: 20px;
        //
        // }
      }
    }
  }
  .groupUsersToAdd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    div {
      padding: 0 1rem;
      margin: 0.5rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      h5 {
        padding: 0 0 0 1rem;
        text-transform: uppercase;
      }
    }
  }
  .groupsEditButtons {
    margin-top: 1rem;

    .md-button {
      width: 100%;
    }
  }
}
