// md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type,
// md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button):first-of-type {
//   margin: 0.5rem 0;
//   width: 100%;
// }

md-card .md-actions.layout-column .md-button:not(.md-icon-button), md-card md-card-actions.layout-column .md-button:not(.md-icon-button) {
  margin: 0.5rem 0;
}

.addImageForm {
  button {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
  }
}

.uploadPhoto {
  label {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
  }
}

.groupsHome {
  md-card {
    width: 25%;
    margin: 0 auto;
  }

  md-card .md-actions,
  md-card md-card-actions {
    display: flex;
    flex-flow: column wrap;
    // justify-content: space-around;

    a {
      width: 100%;
      padding: 0;
      margin: 1.5rem 0;
    }

    button, .md-button, md-button {
      margin: 1rem 0;
      width: 100%;
    }
  }
  md-card {
    md-card-actions {
      // display: flex;
      // flex-flow: column wrap;
      // justify-content: space-around;

      a {
        // margin: 1.5rem 0;
        // padding: 0;
        width: 100%;
      }

      button, .md-button {
        // margin: 0.5rem 0;
        // width: 100%;
      }
    }
  }
}

.groupUser {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.groupsHomePropertiesList {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 32%;
  }
}

.groupsHomeProperties {
  md-card {
    md-card-title {
      // display: flex;
      // flex-flow: row wrap;
      // justify-content: center;
      // align-items: center;
      // background-color: rgb(250,250,250);
      margin: 0 auto 2.5rem auto;
    }
  }
  .md-button {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }
}
