md-content.groupsShowProp {
  background: $brand-color;

  .md-card-actions {
    min-height: 37px;
  }
  md-card {
    md-card-actions {
      .md-button {
        width: 100%;
      }
    }
  }
  md-card-content {
    md-card-title {
      md-card-title-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
  }

  md-card.groupsShowPropCard {
    background: transparent;
    box-shadow: none;

    md-card-content.propertyDesc {
      padding: 16px 0;
    }
    md-card-actions {
      md-card-icon-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
    }

    div.groupsShowPropCardDiv {
      width: 100%;

      md-card.groupsPropsShowTitle {
        margin: 0 8px 2.5rem 8px;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;

        div {
          padding: 16px;

          .propertyImage {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }

        md-card-title {
          flex: 0 0 auto;
        }

        ul:not(:last-child) {
          padding-bottom: 1rem;
          display: flex;
          flex-flow: column nowrap;

          li {
            &:last-child span {
              color: $brand-color;
              font-weight: 900;
            }

            span.per_month {
              color: $black;
            }
          }
        }
        ul:not(:first-child) {
          padding: 1rem 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            a {
              color: rgba(255, 87, 34, 1);
            }

            md-icon {
              margin: 0;
            }
          }
        }

        ul {
          li {
            padding: 5px 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            md-icon {
              margin: 0 10px 0 0;
            }
          }
        }
        .agencyLogo {
          max-width: 120px;
        }
        div {
          width: 50%;
          padding-right: 1rem;
        }
      }
      md-card.propertyTabs {
        margin: 0 8px 2.5rem 8px;
        border-radius: 15px;
        overflow: hidden;

        .tabsdemoDynamicHeight md-content h1:first-child {
          margin-top: 0;
        }
        md-tabs {
          canvas {
            width: 250px;
            height: auto;
          }
        }
        md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
          min-height: 500px;
        }
        p {
          font-size: 16px;
        }
      }

      md-card.propertyAddRating {
        margin: 0 8px 2.5rem 8px;

        .userVoted {
          padding: 16px;

          span {
            padding: 0;
            font-size: 16px;
          }
        }
        md-card-title {
          text-align: center;
        }
        .ratingForm {
          display: flex;
          flex-flow: column nowrap;

          div:not(:last-child) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
          div:not(:first-child) {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .ratingBox {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 15%;
            margin: 0 auto;
            border: 1px solid $brand-color;
            border-radius: 4px;

            span {
              color: $brand-color;
            }
          }
          .md-button {
            width: 15%;
            margin: 0.5rem auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            md-icon {
              margin: 0 6px 0 0;
            }
          }
        }
      }
      md-card.propertyRatings {
        margin: 0 8px 2.5rem 8px;

        md-card-title {
          padding: 0 16px 16px;
          text-align: center;
        }
        .userRatings {
          margin: 2.5rem 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          .userRatingImage {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100%;
            margin-right: 10px;
            width: 40px;
            height: 40px;
          }

          .userRatingOpinion {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            rating-stars .star:not(.on) {
              display: none;
            }
            strong {
              font-size: 15px;
              font-weight: 500;
            }
          }
          .smart-confirm {
            margin-left: 10px;

            smart-confirm {
              margin: 0;

              div {
                display: flex;
                flex-flow: row nowrap;
              }
              .md-button {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 25px;
                min-width: 25px;
                height: 25px;
                min-height: 25px;
                margin: 0 0.25rem;

                md-icon {
                  font-size: 18px;
                  height: auto;
                  width: auto;
                  min-height: auto;
                  min-width: auto;
                }
              }
            }
          }
        }
      }

      md-card.propertyAddImage {
        margin: 0 8px 2.5rem 8px;

        .addImageForm {
          display: flex;
          flex-flow: column nowrap;

          .md-button {
            width: 15%;
            margin: 0.5rem auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            md-icon {
              margin: 0 6px 0 0;
            }
          }
        }
      }
      md-card.propertyImages {
        margin: 0 8px 2.5rem 8px;

        md-card-title {
          padding: 0 16px 16px;
          text-align: center;
        }

        .groupsPropsShowUserImages {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: flex-start;

          div.userImageCard {
            min-width: 236px;
          }
          md-card {
            md-card-header {
              padding: 8px;
            }
            md-card-avatar {
              .avatar {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 100%;
                margin-right: 10px;
                width: 100%;
                height: 100%;
              }
            }
            md-card-header-text {
              .md-subhead {
                font-size: 11px;
              }
            }

            .userImages {
              min-height: 125px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            div.md-card-actions {
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
            }

            smart-confirm {
              margin: 0;

              div {
                display: flex;
                flex-flow: row nowrap;
              }
              .md-button {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 25px;
                min-width: 25px;
                height: 25px;
                min-height: 25px;

                md-icon {
                  font-size: 18px;
                  height: auto;
                  width: auto;
                  min-height: auto;
                  min-width: auto;
                }
              }
            }
          }
        }
      }

      md-card.propertyAddReview {
        margin: 0 8px 2.5rem 8px;

        .addComment {
          .addCommentForm {
            display: flex;
            flex-flow: column nowrap;

            md-input-container {
              margin: 16px 0 0 0;

              label {
                left: 1rem;

                &:focus {
                  bottom: 100%;
                }
              }
              textarea.md-input {
                border-bottom: 1px solid $brand-color;
                border-right: 1px solid $brand-color;
                border-left: 1px solid $brand-color;
                border-radius: 3px;
                min-height: 60px;
              }
            }
            md-card-actions {
              margin: 0;
            }


            .md-button {
              width: 15%;
              margin: 0.5rem auto;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;

              md-icon {
                margin: 0 6px 0 0;
              }
            }
          }
        }
      }
      md-card.propertyReviews {
        margin: 0 8px 2.5rem 8px;

        md-card-title {
          padding: 0 16px 16px;
          text-align: center;
        }
        .comment-list {

          md-list-item {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }

          .md-list-item-text {
            h4 {
              font-size: 12px;
            }
          }

          smart-confirm {
            div {
              display: flex;
              flex-flow: row nowrap;
            }
            .md-button {
              margin: 1rem 6px;
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              width: 25px;
              min-width: 25px;
              height: 25px;
              min-height: 25px;

              md-icon {
                font-size: 18px;
                height: auto;
                width: auto;
                min-height: auto;
                min-width: auto;
              }
            }
          }
        }
      }
    }
  }
}

.chart, canvas, canvas.chart, .chart-doughnut {
  width: 250px;
  height: auto;
}
.google-map {
  height: 600px;
  width: 100%;
  background-color: grey;
}
.maps, #maps {
  height: 400px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.votingLikes {
  width: auto !important;
  border: 1px solid $brand-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px !important;

  div {
    width: auto !important;
    padding: 0 !important;
  }
}
.votingButton {
  width: auto !important;
}
.gm-style img {
  max-width: 100%;
}

@include breakpoint(iPhoneSE) {
  md-content.groupsShowProp {
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }
      md-card-actions {
        padding: 0;
        flex-flow: column nowrap;

        .md-button {
          margin: 3px 0;
        }
      }

      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }

      div.groupsShowPropCardDiv {
        md-card.groupsPropsShowTitle {
          flex-flow: column nowrap;

          div {
            text-align: center;
            width: 100%;
            min-height: 200px;

            md-card-title {
              .md-headline {
              font-size: 20px;
            }
            }

            md-card-content {
              ul {
                justify-content: center;
                align-items: center;
                li {

                }
              }
            }
          }
        }
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 100%;
              border: 0;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 100%;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }
        md-card.propertyImages {
          .groupsPropsShowUserImages {
            div.userImageCard {
              width: 100%;
            }
          }
        }

        .md-tab {
          padding: 12px 20px;
        }
      }
    }
  }
}

@include breakpoint(iPhone8) {
  md-content.groupsShowProp {
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }

      md-card-actions {
        padding: 0;
        flex-flow: column nowrap;

        .md-button {
          margin: 3px 0;
        }
      }

      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }

      div.groupsShowPropCardDiv {
        md-card.groupsPropsShowTitle {
          flex-flow: column nowrap;

          div {
            text-align: center;
            width: 100%;
            min-height: 200px;

            md-card-title {
              .md-headline {
              font-size: 20px;
            }
            }

            md-card-content {
              ul {
                justify-content: center;
                align-items: center;
                li {

                }
              }
            }
          }
        }
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 100%;
              border: 0;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 100%;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }
        md-card.propertyImages {
          .groupsPropsShowUserImages {
            div.userImageCard {
              width: 100%;
            }
          }
        }

        .md-tab {
          padding: 12px 20px;
        }
      }
    }
  }
}

@include breakpoint(iPhone8Plus) {
  md-content.groupsShowProp {
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }

      md-card-actions {
        padding: 0;
        flex-flow: column nowrap;

        .md-button {
          margin: 3px 0;
        }
      }
      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }

      div.groupsShowPropCardDiv {
        md-card.groupsPropsShowTitle {
          flex-flow: column nowrap;

          div {
            text-align: center;
            width: 100%;
            min-height: 200px;

            md-card-title {
              .md-headline {
              font-size: 20px;
            }
            }

            md-card-content {
              ul {
                justify-content: center;
                align-items: center;
                li {

                }
              }
            }
          }
        }
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 100%;
              border: 0;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 100%;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }
        md-card.propertyImages {
          .groupsPropsShowUserImages {
            div.userImageCard {
              width: 50%;
              min-width: 50%;
            }
          }
        }

        .md-tab {
          padding: 12px 20px;
        }
      }
    }
  }
}

@include breakpoint(iPhoneX) {
  md-content.groupsShowProp {
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }

      md-card-actions {
        padding: 0;
        flex-flow: column nowrap;

        .md-button {
          margin: 3px 0;
        }
      }
      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }

      div.groupsShowPropCardDiv {
        md-card.groupsPropsShowTitle {
          flex-flow: column nowrap;

          div {
            text-align: center;
            width: 100%;
            min-height: 200px;

            md-card-title {
              .md-headline {
              font-size: 20px;
            }
            }

            md-card-content {
              ul {
                justify-content: center;
                align-items: center;
                li {

                }
              }
            }
          }
        }
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 100%;
              border: 0;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 100%;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }

        md-card.propertyImages {
          .groupsPropsShowUserImages {
            md-card {
              .userImages {
                min-height: 200px;
              }
            }
            div.userImageCard {
              width: 100%;
            }
          }
        }

        .md-tab {
          padding: 12px 20px;
        }
      }
    }

    md-tab-content > div {
      md-content {
        display: flex;
        flex-flow: column;
      }
    }
  }
}

@include breakpoint(iPhoneXI) {
  md-content.groupsShowProp {
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }

      md-card-actions {
        padding: 0;
        flex-flow: column nowrap;

        .md-button {
          margin: 3px 0;
        }
      }
      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }

      div.groupsShowPropCardDiv {
        md-card.groupsPropsShowTitle {
          flex-flow: column nowrap;

          div {
            text-align: center;
            width: 100%;
            min-height: 200px;

            md-card-title {
              .md-headline {
              font-size: 20px;
            }
            }

            md-card-content {
              ul {
                justify-content: center;
                align-items: center;
                li {

                }
              }
            }
          }
        }
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 100%;
              border: 0;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 100%;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }

        md-card.propertyImages {
          .groupsPropsShowUserImages {
            md-card {
              .userImages {
                min-height: 200px;
              }
            }
            div.userImageCard {
              width: 100%;
            }
          }
        }

        .md-tab {
          padding: 12px 20px;
        }
      }
    }

    md-tab-content > div {
      md-content {
        display: flex;
        flex-flow: column;
      }
    }
  }
}

@include breakpoint(iPhoneXIPro) {
  md-content.groupsShowProp {
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }

      md-card-actions {
        padding: 0;
        flex-flow: column nowrap;

        .md-button {
          margin: 3px 0;
        }
      }
      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }

      div.groupsShowPropCardDiv {
        md-card.groupsPropsShowTitle {
          flex-flow: column nowrap;

          div {
            text-align: center;
            width: 100%;
            min-height: 200px;

            md-card-title {
              .md-headline {
              font-size: 20px;
            }
            }

            md-card-content {
              ul {
                justify-content: center;
                align-items: center;
                li {

                }
              }
            }
          }
        }
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 100%;
              border: 0;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 100%;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }

        md-card.propertyImages {
          .groupsPropsShowUserImages {
            md-card {
              .userImages {
                min-height: 200px;
              }
            }
            div.userImageCard {
              width: 100%;
            }
          }
        }

        .md-tab {
          padding: 12px 20px;
        }
      }
    }

    md-tab-content > div {
      md-content {
        display: flex;
        flex-flow: column;
      }
    }
  }
}

@include breakpoint(iPhoneXIProMax) {
  md-content.groupsShowProp {
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }

      md-card-actions {
        padding: 0;
        flex-flow: column nowrap;

        .md-button {
          margin: 3px 0;
        }
      }
      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }

      div.groupsShowPropCardDiv {
        md-card.groupsPropsShowTitle {
          flex-flow: column nowrap;

          div {
            text-align: center;
            width: 100%;
            min-height: 200px;

            md-card-title {
              .md-headline {
              font-size: 20px;
            }
            }

            md-card-content {
              ul {
                justify-content: center;
                align-items: center;
                li {

                }
              }
            }
          }
        }
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 100%;
              border: 0;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 100%;
            }
            .md-button {
              width: 100%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }

        md-card.propertyImages {
          .groupsPropsShowUserImages {
            md-card {
              .userImages {
                min-height: 200px;
              }
            }
            div.userImageCard {
              width: 100%;
            }
          }
        }

        .md-tab {
          padding: 12px 20px;
        }
      }
    }

    md-tab-content > div {
      md-content {
        display: flex;
        flex-flow: column;
      }
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  md-content.groupsShowProp {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }
      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }
      div.groupsShowPropCardDiv {
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 25%;
              border: 0;
            }
            .md-button {
              width: 25%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 25%;
            }
            .md-button {
              width: 25%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }
        md-card.propertyImages {
          .groupsPropsShowUserImages {
            div.userImageCard {
              width: calc(100% / 3);
              min-width: calc(100% / 3);
            }
          }
        }
      }
    }
  }
}

@include breakpoint(iPadPro) {
  md-content.groupsShowProp {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
    md-card.groupsShowPropCard {
      md-card-title, md-card-content {
        padding: 0 0 16px 0;
      }
      md-card.propertyTabs {
        md-content {
          padding: 16px;
        }
      }
      div.groupsShowPropCardDiv {
        md-card.propertyAddRating {
          .ratingForm {
            .ratingBox {
              width: 25%;
              border: 0;
            }
            .md-button {
              width: 25%;
            }
          }
        }
        md-card.propertyAddImage {
          .addImageForm {
            label {
              width: 25%;
            }
            .md-button {
              width: 25%;
            }
          }
        }
        md-card.propertyAddReview {
          padding: 8px;

          .addComment {
            .addCommentForm {
              .md-button {
                width: 100%;
              }
            }
          }
        }
        md-card.propertyImages {
          .groupsPropsShowUserImages {
            div.userImageCard {
              width: calc(100% / 4);
              min-width: calc(100% / 4);
            }
          }
        }
      }
    }
  }
}
