md-content.groupsHome {
  background-color: $brand-color;

  md-card-header {
    margin: 0 auto;
  }
  div.md-card-actions {
    display: flex;
    flex-flow: column wrap;

    a:first-child {
      margin: 16px auto 6px auto;
    }

    a, button {
      width: 12rem;
      margin: 6px auto;
    }
  }

  md-card.groupsHomeFollowers {
    margin: 2.5rem 8px;

    md-card-content {
      padding: 8px 16px;

      .joinedUsers {
        .dialog-demo-content {
          margin: 0;
        }
      }
    }
    md-card-title {
      margin: 0 auto;
    }
    .groupUser {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 100%;
      width: 40px;
      height: 40px;
    }
    h5 {
      font-size: 15px;
    }
  }
  md-card.groupsHomeProperties {
    padding: 0;
    background: transparent;
    box-shadow: none;

    md-card-title {
      width: 100%;
      border-radius: 15px;
      background: $white;
      margin: 0 auto 2rem auto;
      text-align: center;
      padding: 16px;
    }

    md-card {
      padding: 6px;

      md-card-title {
        margin: 0 auto;
      }
      .md-button {
        width: 100%;
        min-width: 100%;
        margin: 0;
      }
    }

    div.groupsHomePropertiesContainer {
      display: flex;
      flex-flow: row wrap;
      padding: 0 4px;

      md-card {
        padding: 16px;
        width: 296px;
        min-height: 500px;
        display: flex;
        flex-flow: column nowrap;

        div.zooplaImage {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 200px;
          border-radius: 10px;
        }
        md-card {

        }
        md-card-title {
          padding: 24px 0 0;

          .md-headline {
            color: $brand-color;
            font-size: 18px;
            font-weight: 900;
          }
        }
        md-card-content {
          padding: 24px 0 0;

          h3 {
            padding: 4px 0;
            line-height: 20px;
          }
        }
        md-card-actions {
          padding: 24px 0 0;
          margin: 0;
        }
      }
    }
  }
}

@include breakpoint(iPhoneSE) {
  .groupsHome {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      span {
        font-size: 20px;
      }
    }
  }
}

@include breakpoint(iPhone8) {
  .groupsHome {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      span {
        font-size: 20px;
      }
    }
  }
}

@include breakpoint(iPhone8Plus) {
  .groupsHome {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      span {
        font-size: 20px;
      }
    }
  }
}

@include breakpoint(iPhoneX) {
  .groupsHome {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      span {
        font-size: 20px;
      }
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  .groupsHome {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      span {
        font-size: 25px;
      }
    }
  }
}

@include breakpoint(iPadPro) {
  .groupsHome {
    md-card-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      span {
        font-size: 25px;
      }
    }
  }
}
