.groupsEdit {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  md-card {
    width: 50%;
    padding: 2.5rem;

    md-card-title {
      margin: 0 auto 2.5rem auto;
    }

    form {
      md-input-container {
        width: 100%;
        margin: 0.5rem 0;
      }
      label {
        width: 100%;
        margin: 1rem 0;
      }
      button {
        width: 100%;
        margin: 0 0 1rem 0;
      }
      img {
        border-radius: 50%;
        width: 25px;
        height: 25px;
      }

    }
  }
  .md-toolbar-tools {
    padding: 0;

    .md-button {
      // width: 100%;
      padding: 0;
    }

    .md-button:last-child {
      margin: 0;
    }
    .md-button:first-child {
      margin: 0;
    }
  }
  .chosenUsers {
    // width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    // text-align: center;
    // margin: 0.5rem 0;
    // padding: 0.5rem 0;
  }
  .chosenGroupUsers {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0;

    smart-confirm {
      margin: 0;
    }
    .md-divider {
      margin: 5px 0;
    }
    div {
      // padding: 0 1rem;
      // margin: 0.25rem 0;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      h5 {
        // padding: 0 0 0 1rem;
        text-transform: uppercase;
      }
      .md-button {
        // width: 30px;
        min-width: 35px;
        font-size: 10px;
        // max-width: 25px;
        // height: 25px;
        // min-height: 25px;
        // max-height: 25px;
        margin: 0 0.5rem;
        // padding: 0 0 0 1rem;
        // text-transform: uppercase;

        // .material-icons {
        //   font-size: 20px;
        //
        //   .md-icon {
        //     height: 20px;
        //     width: 20px;
        //     min-height: 20px;
        //     min-width: 20px;
        //   }
        // }
      }
    }
  }
  .groupUsersToAdd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    div {
      padding: 0 1rem;
      margin: 0.5rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      h5 {
        padding: 0 0 0 1rem;
        text-transform: uppercase;
      }
    }
  }
  .groupsEditButtons {
    margin-top: 1rem;

    .md-button {
      width: 100%;
    }
  }
}
