md-content.groupsShowProp {
  background: $brand-color;

  md-card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  md-card {
    md-card-actions {
      button {
        width: 100%;
      }
    }
  }
  md-card-content {
    md-card-title {
      md-card-title-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
  }

  md-card.groupsShowPropCard {
    background: transparent;
    box-shadow: none;

    md-card-content.propertyDesc {
      padding: 16px 0;
    }
    md-card-actions {
      md-card-icon-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
    }

    div.groupsShowPropCardDiv {
      width: 100%;

      md-card.groupsPropsShowTitle {
        margin: 0 8px 2.5rem 8px;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;

        div {
          padding: 16px;

          .propertyImage {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }

        md-card-title {
          flex: 0 0 auto;
        }

        // .md-card-content {
        //   span.per_month {
        //     color: $black;
        //   }
        // }

        // md-divider {
        //   margin: 1rem 0;
        // }

        ul:not(:last-child) {
          padding-bottom: 1rem;
          display: flex;
          flex-flow: column nowrap;

          li {
            &:last-child span {
              color: $brand-color;
              font-weight: 900;
              // padding-right: 6px; // space beween price and per month
            }

            span.per_month {
              color: $black;
            }
          }
        }
        ul:not(:first-child) {
          padding: 1rem 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            a {
              color: rgba(255, 87, 34, 1);
            }

            md-icon {
              margin: 0;
            }
          }
        }

        ul {
          li {
            padding: 5px 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            md-icon {
              margin: 0 10px 0 0;
            }
          }
        }
        .agencyLogo {
          max-width: 120px;
        }
        div {
          width: 50%;
          padding-right: 1rem;
        }
      }
      md-card.propertyTabs {
        margin: 0 8px 2.5rem 8px;
        border-radius: 15px;
        overflow: hidden;

        .tabsdemoDynamicHeight md-content h1:first-child {
          margin-top: 0;
        }
        md-tabs {
          canvas {
            width: 250px;
            height: auto;
          }
        }
        md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
          min-height: 500px;
        }
        p {
          font-size: 16px;
        }
      }

      md-card.propertyAddRating {
        margin: 0 8px 2.5rem 8px;

        md-card-title {
          text-align: center;
        }
        .ratingForm {
          display: flex;
          flex-flow: column nowrap;

          div:not(:last-child) {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }
          div:not(:first-child) {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
          }

          // md-input-container {
          //   padding: 0;
          //   margin: 6px 8px;
          // }

          .ratingBox {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 15%;
            margin: 0 auto;
            border: 1px solid $brand-color;
            border-radius: 15px;
            padding: 0.5rem;

            span {
              color: $brand-color;
            }
          }
          .md-button {
            width: 15%;
            margin: 0.5rem auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            md-icon {
              margin: 0 6px 0 0;
            }
          }
        }
      }
      md-card.propertyRatings {
        margin: 0 8px 2.5rem 8px;

        md-card-title {
          padding: 0 16px 16px;
          text-align: center;
        }
        .userRatings {
          margin: 2.5rem 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          .userRatingImage {
            width: 40px;
          }

          .userRatingOpinion {
            padding: 0 1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            span {
              color: $brand-color;

              i {
                cursor: default;
                outline: none;
              }
            }
          }
          smart-confirm {
            margin: 0;

            div {
              display: flex;
              flex-flow: row nowrap;
            }
            .md-button {
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              width: 25px;
              min-width: 25px;
              height: 25px;
              min-height: 25px;
              margin: 0 0.25rem;

              md-icon {
                font-size: 18px;
                height: auto;
                width: auto;
                min-height: auto;
                min-width: auto;
              }
            }
          }
        }
      }

      md-card.propertyAddImage {
        margin: 0 8px 2.5rem 8px;

        .addImageForm {
          display: flex;
          flex-flow: column nowrap;

          .md-button {
            width: 15%;
            margin: 0.5rem auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            md-icon {
              margin: 0 6px 0 0;
            }
          }
        }
      }
      md-card.propertyImages {
        margin: 0 8px 2.5rem 8px;

        md-card-title {
          padding: 0 16px 16px;
          text-align: center;
        }

        .groupsPropsShowUserImages {
          md-card {
            // padding: 15px;

            md-card-avatar {
              width: auto;
              height: auto;
            }

            .userImages {
              width: 100%;
              // height: auto;
              padding: 50px 0;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 0;
              border: 0;
            }

            div.md-card-actions {
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
            }

            smart-confirm {
              margin: 0;

              div {
                display: flex;
                flex-flow: row nowrap;
              }
              .md-button {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 25px;
                min-width: 25px;
                height: 25px;
                min-height: 25px;

                md-icon {
                  font-size: 18px;
                  height: auto;
                  width: auto;
                  min-height: auto;
                  min-width: auto;
                }
              }
            }
          }
        }
      }

      md-card.propertyAddReview {
        margin: 0 8px 2.5rem 8px;

        .addComment {
          .addCommentForm {
            display: flex;
            flex-flow: column nowrap;

            md-input-container {
              margin: 16px 0 0 0;

              label {
                // bottom: auto;
                left: 1rem;
                // left: auto;
                // padding-left: 1rem;

                &:focus {
                  bottom: 100%;
                }
              }
              textarea.md-input {
                border-bottom: 1px solid $brand-color;
                border-right: 1px solid $brand-color;
                border-left: 1px solid $brand-color;
                border-radius: 3px;
                min-height: 60px;
              }
            }
            md-card-actions {
              margin: 0;
            }


            .md-button {
              width: 15%;
              margin: 0.5rem auto;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;

              md-icon {
                margin: 0 6px 0 0;
              }
            }
          }
        }
      }
      md-card.propertyReviews {
        margin: 0 8px 2.5rem 8px;

        md-card-title {
          padding: 0 16px 16px;
          text-align: center;
        }
        .comment-list {

          md-list-item {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
          }

          smart-confirm {
            // margin: 0;

            div {
              // width: 20%;
              // margin: 0 auto;
              display: flex;
              flex-flow: row nowrap;
            }
            .md-button {
              margin: 1rem 6px;
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              width: 25px;
              min-width: 25px;
              height: 25px;
              min-height: 25px;

              md-icon {
                font-size: 18px;
                height: auto;
                width: auto;
                min-height: auto;
                min-width: auto;
              }
            }
          }
          // smart-confirm {
          //   display: flex;
          //   flex-flow: row nowrap;
          // }
        }
      }
    }
  }
}

.chart, canvas, canvas.chart, .chart-doughnut {
  width: 250px;
  height: auto;
}

.google-map {
  height: 600px;
  width: 100%;
  background-color: grey;
}

.maps, #maps {
  height: 400px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.votingLikes {
  width: auto !important;
  border: 1px solid $brand-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px !important;

  div {
    width: auto !important;
    padding: 0 !important;
  }
}

.votingButton {
  width: auto !important;
}

// /* A working example can be found at the bottom of this page. */
// .my-element.ng-hide-add, .my-element.ng-hide-remove {
//   transition: all 0.5s linear;
// }
//
// .my-element.ng-hide-add {}
// .my-element.ng-hide-add.ng-hide-add-active {}
// .my-element.ng-hide-remove {}
// .my-element.ng-hide-remove.ng-hide-remove-active {}
