.usersEdit {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: $brand-color;

  md-card {
    width: 50%;
    padding: 2.5rem;

    md-card-title {
      margin: 0 auto 2.5rem auto;
    }

    form {
      md-input-container {
        width: 100%;
        margin: 0.5rem 0;
      }
      label {
        width: 100%;
        margin: 1rem 0;
      }
      button {
        width: 100%;
        margin: 0 0 1rem 0;
      }
    }
  }
}

@include breakpoint(iPhoneSE) {
  .usersEdit {
    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhone8) {
  .usersEdit {

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhone8Plus) {
  .usersEdit {

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhoneX) {
  .usersEdit {

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  .usersEdit {
    md-card {
      width: 50%;
    }
  }
}

@include breakpoint(iPadPro) {
  .usersEdit {
    height: 100vh;

    md-card {
      width: 50%;
    }
  }
}
