.usersShow {
  // width: 100%;
  // height: calc(100vh - 50px);
  // height: 100%;
  // min-width: 100%;
  // min-height: 100%;
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  // align-items: center;
  background: $brand-color;

  md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button),
  md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button) {
    margin: 6px 8px;
  }

  md-card {
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem;

    img {
      width: 25%;
      margin: 1rem auto;
      border-radius: 20px;
      border: 0px solid rgba(255, 255, 255, 0);
      outline: none;
      // border: 2px solid #FFFFFF;
    }
    md-card-content {
      padding: 30px;
      // display: flex;
      // margin: auto;
      // flex-flow: column nowrap;
      // justify-content: center;
      // align-items: center;

      // .basicInformation, .propertyInformation {
      //   margin-bottom: 3rem;
      // }

      .propertyInformation {
        span:not(:first-child) {
          color: $brand-color;
          font-weight: 700;
        }
      }

      .groupInformation {
        .user_group {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          md-icon {
            margin-right: 6px;
          }
        }
      }


      div {
        margin: auto;
        width: 75%;
        // display: flex;
        // flex-flow: column wrap;
        // justify-content: space-between;
        // // align-items: center;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
        &:last-child {
          // margin-top: 1rem;
        }

        h2 {
          padding-bottom: 2.5rem;
          color: #999999;
        }
        h3 {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          span {
            // padding-right: 10px;
            a {
              color: #9c27b0;

              // &:hover {
              //   color: #9c27b0;
              // }
            }
          }
          span:first-child {
            // font-weight: 600;
          }
        }
      }
    }
    md-card-actions {
      display: flex;
      flex-flow: row nowrap;
      // justify-content: center;
      // align-items: center;

      .md-button, .md-icon-button {
      // .md-button:not(.md-icon-button) {
        // margin: 6px 8px;
        // margin-left: 8px;
        // margin-right: 8px;
      }
      .md-button, a {
        width: 50%;
      }
    }
  }
}

@include breakpoint(iPhoneSE) {
  .usersShow {
    height: 100vh;

    md-card {
      width: 100%;
    }
  }
}


@include breakpoint(iPhone8) {
  .usersShow {
    height: 100vh;

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhone8Plus) {
  .usersShow {
    height: 100vh;

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhoneX) {
  .usersShow {
    height: 100vh;

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  .usersShow {
    height: 100vh;

    md-card {
      width: 75%;
    }
  }
}

@include breakpoint(iPadPro) {
  .usersShow {
    height: 100vh;

    md-card {
      width: 75%;
    }
  }
}
