<section class="home">
  <!-- <md-icon class="material-icons" aria-label="Home : Logo">home</md-icon> -->
  <!-- <svg><use href="../images/icons/logo.svg#home"></use></svg> -->
  <svg id="home" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="brand-logo">
      <polygon id="Path" points="8 17 8 11 12 11 12 17 17 17 17 9 20 9 10 0 0 9 3 9 3 17"></polygon>
      <text><tspan x="3.106" y="20">Grouparty</tspan></text>
    </g>
  </svg>
  <!-- <h1>Grouparty</h1> -->

  <h2>
    The perfect home&nbsp;
    <typer
      words="['to buy', 'to rent', 'with your friends', 'in the UK']"
      type-time="60"
      backspace-time="50"
      start-delay="2000"
      repeat="true"
      >
    </typer>
  </h2>

  <section
    class="account"
    ng-if="!main.isAuthenticated()"
    layout="row"
    layout-sm="column"
    layout-align="center center"
    layout-wrap
    >
    <md-button class="md-raised md-primary md-button md-ink-ripple" ui-sref="register">Register</md-button>
    <md-button class="md-raised md-primary md-button md-ink-ripple" ui-sref="login">Login</md-button>
  </section>
</section>
