<section class="home">
  <md-icon class="material-icons" aria-label="Home : Logo">home</md-icon>

  <h1>Grouparty</h1>

  <h2>
    The perfect home
    <typer
      words="[' to buy', ' to rent', ' with your friends', ' in the UK']"
      type-time="60"
      backspace-time="50"
      start-delay="2000"
      >
    </typer>
  </h2>

  <section
    class="account"
    ng-if="!main.isAuthenticated()"
    layout="row"
    layout-sm="column"
    layout-align="center center"
    layout-wrap
    >
    <md-button class="md-raised md-primary md-button md-ink-ripple" ui-sref="register">Register</md-button>
    <md-button class="md-raised md-primary md-button md-ink-ripple" ui-sref="login">Login</md-button>
  </section>
</section>
