md-content.propsIndex {
  background: $brand-color;

  md-card-title {
    md-card-title-text {
      .material-icons {
        font-size: 50px;
        color: $brand-color;
        height: 50px;
        width: 50px;
        min-height: 50px;
        min-width: 50px;
      }
      span.md-headline {
        text-align: center;
      }
    }
  }
  md-card.searchProperties {
    width: 50%;
    margin: 0 auto;

    md-card-title {
      padding: 24px 0;

      .md-headline {
        color: $brand-color;
        font-size: 20px;
        font-weight: 900;
      }
    }
    form {
      padding: 8px;

      .propertiesSearch {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        md-input-container:first-child, md-input-container:nth-of-type(2) {
          margin: 0 15px 0 15px;
          width: calc(100% - 30px);
        }
        md-input-container:nth-of-type(3), md-input-container:nth-of-type(4) {
          margin: 30px 15px 0 15px;
          width: calc(100% / 2 - 30px);
        }
        md-input-container {
          width: 50%;

          svg {
            margin: auto;
            background-repeat: no-repeat no-repeat;
            display: inline-block;
            vertical-align: top;
            height: 17px;
            width: 24px;
            min-height: 17px;
            min-width: 24px;
          }
        }
        md-input-container:nth-of-type(5),
        md-input-container:nth-of-type(6),
        md-input-container:nth-of-type(7),
        md-input-container:nth-of-type(8) {
          margin: 30px 15px 0 15px;
          width: calc(100% / 2 - 30px);
        }
        md-input-container:nth-of-type(9) {
          margin: 30px 15px 0 15px;
          width: calc(100% - 30px);
        }
      }

      label, md-select {
        line-height: normal;
        margin: 0;
      }
      .md-button {
        width: 100%;
        margin: 1.5rem auto 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
  md-card.propsIndexCard {
    margin: 8px;
    background: transparent;
    box-shadow: none;

    div.propsIndexCardContent {
      color: $white;
      display: flex;
      flex-flow: row wrap;

      div {
        margin-bottom: 0.5rem;

        &:first-child {
          padding: 0;

          md-menu-container, .md-menu-container {
            align-items: flex-start;

            md-menu button {
              margin: 0;
              border-radius: 5px;
            }
          }
        }
        &:last-child {
          padding: 0;

          md-menu-container, .md-menu-container {
            align-items: flex-end;

            md-menu button {
              margin: 0;
              border-radius: 5px;
            }
          }
        }
      }
    }
    div.propsIndexContainer {
      display: flex;
      flex-flow: row wrap;

      md-card {
        margin: 4px;
        width: 298px;
        padding: 16px;
        min-height: 100%;
        display: flex;
        flex-flow: column nowrap;

        md-card-title {
          padding: 24px 0 0;

          .md-headline {
            color: $brand-color;
            font-size: 18px;
            font-weight: 900;
          }
        }
        div.zooplaImage {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 200px;
          border-radius: 10px;
        }
        md-card.searchResultsCard {
          h3 {
            font-size: 15px;
          }
        }
        md-card-content {
          padding: 24px 0 0;

          h3 {
            padding: 4px 0;
            line-height: 20px;
          }
        }
        md-card-actions {
          padding: 24px 0 0;
          margin: 0;

          .md-button {
            width: 100%;
          }
        }
      }
    }
    div.foundListings {
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;

      .listings {
        color: $white;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  md-card.loadMore {
    background-color: $brand-color;
    box-shadow: none;
    margin: 8px;
    padding: 8px;

    .md-button {
      width: 100%;
      color: $black;
      margin: 0 auto;
      background-color: $white;
    }
  }
}

@include breakpoint(iPhoneSE) {
  md-select-menu-container, .md-select-menu-container {
    left: 18px !important;
  }

  md-content.propsIndex {
    md-card.searchProperties {
      width: 100%;

      form {
        .propertiesSearch {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          md-input-container:first-child,
          md-input-container:nth-of-type(2),
          md-input-container:nth-of-type(3),
          md-input-container:nth-of-type(4),
          md-input-container:nth-of-type(5),
          md-input-container:nth-of-type(6),
          md-input-container:nth-of-type(7),
          md-input-container:nth-of-type(8),
          md-input-container:nth-of-type(9) {
            width: 100%;
          }
        }
      }
    }
    md-card.propsIndexCard {
      div.propsIndexCardContent {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
    md-card-actions.loadMore {
      display: flex;
      justify-content: center;
      margin: 0;

      button {
        margin: 1.25rem auto 0 auto;
      }
    }
  }
}

@include breakpoint(iPhone8) {
  md-select-menu-container, .md-select-menu-container {
    left: 18px !important;
  }

  md-content.propsIndex {
    md-card.searchProperties {
      width: 100%;

      form {
        .propertiesSearch {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          md-input-container:first-child,
          md-input-container:nth-of-type(2),
          md-input-container:nth-of-type(3),
          md-input-container:nth-of-type(4),
          md-input-container:nth-of-type(5),
          md-input-container:nth-of-type(6),
          md-input-container:nth-of-type(7),
          md-input-container:nth-of-type(8),
          md-input-container:nth-of-type(9) {
            width: 100%;
          }
        }
      }
    }
    md-card.propsIndexCard {
      div.propsIndexContainer md-card {
        width: 100%;
      }
      div.propsIndexCardContent {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
    md-card-actions.loadMore {
      display: flex;
      justify-content: center;
      margin: 0;

      button {
        margin: 1.25rem auto 0 auto;
      }
    }
  }
}

@include breakpoint(iPhone8Plus) {
  md-select-menu-container, .md-select-menu-container {
    left: 18px !important;
  }

  md-content.propsIndex {
    md-card.searchProperties {
      width: 100%;

      form {
        .propertiesSearch {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          md-input-container:first-child,
          md-input-container:nth-of-type(2),
          md-input-container:nth-of-type(3),
          md-input-container:nth-of-type(4),
          md-input-container:nth-of-type(5),
          md-input-container:nth-of-type(6),
          md-input-container:nth-of-type(7),
          md-input-container:nth-of-type(8),
          md-input-container:nth-of-type(9) {
            width: 100%;
          }
        }
      }
    }
    md-card.propsIndexCard {
      div.propsIndexContainer md-card {
        width: 100%;
      }
      div.propsIndexCardContent {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
    md-card-actions.loadMore {
      display: flex;
      justify-content: center;
      margin: 0;

      button {
        margin: 1.25rem auto 0 auto;
      }
    }
  }
}

@include breakpoint(iPhoneX) {
  md-select-menu-container, .md-select-menu-container {
    left: 18px !important;
  }

  md-content.propsIndex {
    md-card.searchProperties {
      width: 100%;

      form {
        .propertiesSearch {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          md-input-container:first-child,
          md-input-container:nth-of-type(2),
          md-input-container:nth-of-type(3),
          md-input-container:nth-of-type(4),
          md-input-container:nth-of-type(5),
          md-input-container:nth-of-type(6),
          md-input-container:nth-of-type(7),
          md-input-container:nth-of-type(8),
          md-input-container:nth-of-type(9) {
            width: 100%;
          }
        }
      }
    }
    md-card.propsIndexCard {
      div.propsIndexContainer md-card {
        width: 100%;
      }
      div.propsIndexCardContent {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
    md-card-actions.loadMore {
      display: flex;
      justify-content: center;
      margin: 0;

      button {
        margin: 1.25rem auto 0 auto;
      }
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  md-select-menu-container, .md-select-menu-container {
    left: 18px !important;
  }

  md-content.propsIndex {
    height: 100%;

    md-card.searchProperties {
      form {
        .propertiesSearch {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          md-input-container:first-child,
          md-input-container:nth-of-type(2),
          md-input-container:nth-of-type(3),
          md-input-container:nth-of-type(4),
          md-input-container:nth-of-type(5),
          md-input-container:nth-of-type(6),
          md-input-container:nth-of-type(7),
          md-input-container:nth-of-type(8),
          md-input-container:nth-of-type(9) {
            width: 100%;
          }
        }
      }
    }
    md-card.propsIndexCard {
      div.propsIndexCardContent {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      div.propsIndexContainer {
        md-card {
          width: calc(100% / 3 - 8px);
        }
      }
    }
    md-card-actions.loadMore {
      display: flex;
      justify-content: center;
      margin: 0;

      button {
        margin: 1.25rem auto 0 auto;
      }
    }
  }
}

@include breakpoint(iPadPro) {
  md-select-menu-container, .md-select-menu-container {
    left: 18px !important;
  }

  md-content.propsIndex {
    md-card.searchProperties {
      width: 50%;

      form {
        .propertiesSearch {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          md-input-container:first-child,
          md-input-container:nth-of-type(2),
          md-input-container:nth-of-type(3),
          md-input-container:nth-of-type(4),
          md-input-container:nth-of-type(5),
          md-input-container:nth-of-type(6),
          md-input-container:nth-of-type(7),
          md-input-container:nth-of-type(8),
          md-input-container:nth-of-type(9) {
            width: 100%;
          }
        }
      }
    }
    md-card.propsIndexCard {
      div.propsIndexCardContent {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
      div.propsIndexContainer {
        md-card {
          width: calc(100% / 3 - 8px);
        }
      }
    }
    md-card-actions.loadMore {
      display: flex;
      justify-content: center;
      margin: 0;

      button {
        margin: 1.25rem auto 0 auto;
      }
    }
  }
}
