<md-dialog
  class="imageModal"
  aria-label="Image modal"
  >
  <md-toolbar>
    <div
      class="md-toolbar-tools"
      layout="row"
      layout-align="center center"
      >
      <h2>Uploaded by: {{ userImageModal.selected.createdBy.username }}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div
      class="md-dialog-content"
      layout="column"
      layout-align="center center"
      >
      <img
        class="uploadedUserImage"
        alt="{{ userImageModal.selected.imageSRC }}"
        ng-src="{{ userImageModal.selected.imageSRC }}"
      />
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button
      class="md-primary md-raised"
      ng-click="userImageModal.hide()"
      aria-label="Close"
      >
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
