<md-dialog
  class="userModal"
  aria-label="User Modal"
  >
  <md-toolbar>
    <div
      class="md-toolbar-tools"
      layout="row"
      layout-align="center center"
      >
      <h2>{{ groupsHomeUser.selected.username }}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div
      class="md-dialog-content"
      layout="column"
      layout-align="center center"
      >
      <img
        class="userModalImage"
        alt="{{ groupsHomeUser.selected.profileImageSRC }}"
        ng-src="{{ groupsHomeUser.selected.profileImageSRC }}"
      />
      <h3><strong>Budget:</strong> £{{ groupsHomeUser.selected.budget }}</h3>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button
      class="md-raised md-primary md-button md-ink-ripple"
      ng-click="groupsHomeUser.hide()"
      aria-label="Close"
      >
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
