md-dialog {
  md-dialog-content {
    img {
      width: 100%;
    }
    ul {
      li:nth-child(2) {
        margin: 1rem auto 0 auto;
      }
      div {
        margin: 1rem auto 1rem auto;
        display: flex;
        flex-flow: column nowrap;
      }
    }
  }
  md-toolbar {
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  md-dialog-actions {
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .md-button {
      margin: 0 1rem;
      width: 50%;
    }
  }
}
