.loginForm {
  width: 100%;
  height: calc(100vh - 50px);
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  md-card {
    width: 50%;
    padding: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    md-card-title {
      padding: 0;
    }

    .registerLink {
      padding: 1rem 0;

      span {
        font-size: 15px;
        // display: flex;
        // flex-flow: row nowrap;
        // justify-content: center;

        a {
          // padding: 0 0 0 0.5rem;
          color: #337ab7;
          text-decoration: underline;
        }
      }
    }
    form {
      width: 100%;
      margin: 0 auto;

      md-icon {
        // margin: 0 10px;
      }

      button {
        width: 100%;
        margin: 0;
      }

    }
  }
}
