.loginForm {
  background-color: $brand-color;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginFormCard {
    width: 50%;
    margin: 5rem auto 0 auto;
    padding: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    md-card-title {
      padding: 0;
    }
    .registerLink {
      padding: 1rem 0;

      span {
        font-size: 15px;

        a {
          color: #337ab7;
          text-decoration: underline;
        }
      }
    }
    form {
      width: 100%;
      margin: 0 auto;

      button {
        width: 100%;
        margin: 0;
      }
    }
  }
}

@include breakpoint(iPhoneSE) {
  .loginForm {
    .loginFormCard {
      padding: 1rem;
      margin: 0;
      width: 100%;

      form {
        md-input-container label {
          font-size: 13px;
        }
      }

      md-card-title {
        padding: 6px 0;
        text-transform: uppercase;
      }
      .registerLink {
        padding: 0;
      }
    }

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhone8) {
  .loginForm {
    .loginFormCard {
      margin: 0;
      width: 100%;

      form {
        md-input-container label {
          font-size: 13px;
        }
      }

      md-card-title {
        padding: 6px 0;
        text-transform: uppercase;
      }
      .registerLink {
        padding: 0;
      }
    }
    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhone8Plus) {
  .loginForm {
    .loginFormCard {
      margin: 0;
      width: 100%;

      form {
        md-input-container label {
          font-size: 13px;
        }
      }

      md-card-title {
        padding: 6px 0;
        text-transform: uppercase;
      }
      .registerLink {
        padding: 0;
      }
    }
    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhoneX) {
  .loginForm {
    .loginFormCard {
      margin: 0;
      width: 100%;
    }
    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhoneXI) {
  .loginForm {
    // @include iOS-Viewport;width: 100vw;  /* Use vw as a fallback for browsers that do not support Custom Properties */
  	width: calc(var(--vw, 1vw) * 100);
  	height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  	height: calc(var(--vh, 1vh) * 100);

    .loginFormCard {
      margin: 0;
      width: 100%;
    }
    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPadPro) {
  .loginForm {
    .loginFormCard {
      margin: 0;
      width: 50%;
    }
    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  .loginForm {
    .loginFormCard {
      margin: 0;
      width: 50%;
    }
    md-card {
      width: 100%;
    }
  }
}
