.registerForm {
  background-color: $brand-color;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  md-card {
    width: 50%;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    md-card-title {
      padding: 0;
    }

    .actionButtons {
      display: flex;
      flex-flow: column nowrap;
    }

    .uploadPhoto {
      md-icon {
        margin: 0 auto;
      }
      label {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    .alreadyRegistered {
      span {
        font-size: 15px;

        a {
          color: #337ab7;
          text-decoration: underline;
        }
      }
    }

    form {
      width: 100%;
      margin: 0 auto;

      md-input-container {
        width: 100%;
        margin: 6px 0;

        label {
          line-height: 20px;
        }
      }

      .md-button {
        width: 100%;
        margin: 0.5rem 0;
      }
    }
  }
}

@include breakpoint(desktop) {
  .registerForm {

    md-card {
      width: 50%;
    }
  }
}

@include breakpoint(iPhoneSE) {
  .registerForm {

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhone8) {
  .registerForm {

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhone8Plus) {
  .registerForm {

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPhoneX) {
  .registerForm {

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPadPro) {
  .registerForm {
    .registerFormCard {
      margin: 0;
      width: 50%;
    }

    md-card {
      width: 100%;
    }
  }
}

@include breakpoint(iPadMiniPortrait) {
  .registerForm {
    .registerFormCard {
      margin: 0;
      width: 50%;
    }

    md-card {
      width: 100%;
    }
  }
}

// /* ----------- Non-Retina Screens ----------- */
// @media screen
//   and (min-device-width: 1200px)
//   and (max-device-width: 1600px)
//   and (-webkit-min-device-pixel-ratio: 1) {
//     .registerForm {
//       md-card {
//         width: 50%;
//       }
//     }
// }
//
// /* ----------- Retina Screens ----------- */
// @media screen
//   and (min-device-width: 1200px)
//   and (max-device-width: 1600px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi) {
//     .registerForm {
//       md-card {
//         width: 50%;
//       }
//     }
// }
