<md-content class="md-padding registerForm">
  <md-card>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Register</span>
      </md-card-title-text>
    </md-card-title>

    <div class="alreadyRegistered">
      <span class="md-headline">Already have an account? <a ui-sref="login">Sign In</a></span>
    </div>

    <form
      name="register.registerForm"
      class="register.registerForm"
      ng-submit="register.submit()"
      novalidate
      >

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">person</md-icon>
          <label for="username">Username</label>
          <input
            id="username"
            type="username"
            name="username"
            ng-model="register.user.username"
            ng-required="true"
            aria-label="Username (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="register.registerForm.username.$error"
          ng-show="(register.registerForm.$submitted || register.registerForm.username.$touched) && register.registerForm.username.$invalid"
          >
          <div ng-message="required">Please enter your username.</div>
        </div>
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">email</md-icon>
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            ng-model="register.user.email"
            ng-required="true"
            aria-label="Email (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="register.registerForm.email.$error"
          ng-show="(register.registerForm.$submitted || register.registerForm.email.$touched) && register.registerForm.email.$invalid"
          >
          <div ng-message="required">Please enter your email address.</div>
          <div ng-message="email">Please enter a valid email address.</div>
        </div>
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">attach_money</md-icon>
          <label for="budget">Budget</label>
          <input
            id="budget"
            type="budget"
            name="budget"
            ng-model="register.user.budget"
            ng-required="true"
            aria-label="Username (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="register.registerForm.budget.$error"
          ng-show="(register.registerForm.$submitted || register.registerForm.budget.$touched) && register.registerForm.budget.$invalid"
          >
          <div ng-message="required">Please enter your budget.</div>
        </div>
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">lock</md-icon>
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            ng-model="register.user.password"
            ng-minlength="1"
            ng-required="true"
            aria-label="Password (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="register.registerForm.password.$error"
          ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched) && register.registerForm.password.$invalid"
          >
          <div ng-message="required">Please enter your password.</div>
          <div ng-message="minlength">Password must be at least 1 characters.</div>
        </div>
      </div>

      <div class="input-field">
        <md-input-container>
          <md-icon class="material-icons">lock</md-icon>
          <label for="passwordConfirmation">Password Confirmation</label>
          <input
            id="passwordConfirmation"
            type="password"
            name="passwordConfirmation"
            ng-model="register.user.passwordConfirmation"
            ng-minlength="1"
            ng-required="true"
            compare-to="register.user.password"
            aria-label="Password Confirmation (required)"
            >
        </md-input-container>

        <div
          class="alert alert-danger"
          role="alert"
          ng-messages="register.registerForm.passwordConfirmation.$error"
          ng-show="(register.registerForm.password.$submitted || register.registerForm.passwordConfirmation.$touched) && register.registerForm.passwordConfirmation.$invalid"
          >
          <div ng-message="required">Please re-enter your password.</div>
          <div ng-message="minlength">Password must be at least 1 characters.</div>
          <div ng-message="compareTo">Your password does not match.</div>
        </div>

      </div>

      <div class="uploadPhoto">
        <label
          for="base64"
          class="md-raised md-accent md-button md-ink-ripple"
          >
          <md-icon class="material-icons">add_a_photo</md-icon>
        </label>
        <input
          base64
          type="file"
          name="base64"
          id="base64"
          ng-model="register.user.base64"
          placeholder="Profile image link.."
          style="display:none"
          >
      </div>

      <div class="actionButtons">
        <md-button
          class="md-raised md-primary md-button md-ink-ripple"
          type="submit"
          ng-disabled="register.registerForm.$invalid"
          ng-click="register.registerForm.$invalid"
          >
          <i class="material-icons left"></i>Create Account
        </md-button>

        <md-button
          type="button"
          class="md-raised"
          ng-click="register.user = {}"
          >
          <i class="material-icons left"></i>Clear Form
        </md-button>
      </div>
    </form>

  </md-card>
</md-content>
