<!DOCTYPE html>
<html ng-app="pncApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PNC</title>
  <link rel="icon" href="/images/home.jpg" type="image/jpg">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPqioi-i1ju-WmQSHxeRsy0ippwMshxu4&libraries=geometry,places"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100585783-4', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
  <body ng-controller="MainCtrl as main" class="site" ng-cloak>

    <md-toolbar class="md-hue-2 navBar">
      <button back-button id="btn-back" ng-show="!main.hideBack" ng-cloak>
        <md-icon class="material-icons" aria-label="back to previous page">arrow_back</md-icon>
      </button>

      <div class="md-toolbar-tools">
        <md-button class="md-icon-button menuIcon" aria-label="Settings" ng-click="main.toggleLeft()">
          <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>

        <a ui-sref="home" aria-label="Go to: Home"><h2><span>PNC</span></h2></a>
        <span flex></span>

        <md-button
          class="md-icon-button groupIcon"
          name="usersShow"
          ng-if="main.isAuthenticated() && main.currentGroupId"
          md-nav-sref="groupsHome({ id: main.currentGroupId })"
          ui-sref="groupsHome({ id: main.currentGroupId })"
          aria-label="Favorite"
          >
          <md-icon md-font-set="material-icons" title="{{ main.user.group.groupName }}" aria-label="My Group">group_work</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <section layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-tall md-hue-2" layout-align="end end">
          <div class="md-toolbar-tools" ng-if="main.isAuthenticated() && main.user">
            <img ng-show="main.user" src="{{ main.user.profileImageSRC }}" width="30" height="30" style="border-radius:50px;margin-right:10px" />

            <div layout="column"><span class="md-body-2">{{ main.user.username }}</span></div>
            <span flex></span>
          </div>
        </md-toolbar>

        <md-content role="navigation">
          <md-list>
            <md-list-item
              name="propertiesIndex"
              ng-if="main.isAuthenticated()"
              md-nav-sref="propertiesIndex"
              ui-sref="propertiesIndex"
              sref-opts="{ reload: true, notify: true }"
              ng-click="main.close()"
              >
              <md-icon md-font-set="material-icons" aria-label="Search Properties">search</md-icon>
              <p class="md-body-2">Search Properties</p>
              <span flex></span>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
            <md-list-item
              name="groupsHome"
              ng-if="(main.isAuthenticated() && main.currentGroupId)"
              ng-click="main.close()"
              md-nav-sref="groupsHome({ id: main.currentGroupId })"
              ui-sref="groupsHome({ id: main.currentGroupId })"
              sref-opts="{ reload: true, notify: true }"
              >
              <md-icon md-font-set="material-icons" aria-label="My Group">group_work</md-icon>
              <p class="md-body-2">My Group</p>
              <span flex></span>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
            <md-list-item
              name="groupsNew"
              ng-if="main.isAuthenticated() && !main.currentGroupId"
              md-nav-sref="groupsNew"
              ui-sref="groupsNew"
              sref-opts="{ reload: true, notify: true }"
              ng-click="main.close()"
              >
              <md-icon md-font-set="material-icons" aria-label="Create New Group">add</md-icon>
              <p class="md-body-2">New Group</p>
              <span flex></span>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
            <md-list-item
              name="usersShow"
              ng-if="main.isAuthenticated()"
              md-nav-sref="usersShow({ id: main.currentUserId })"
              ui-sref="usersShow({ id: main.currentUserId })"
              sref-opts="{ reload: true, notify: true }"
              ng-click="main.close()"
              >
              <md-icon md-font-set="material-icons" aria-label="Account">account_circle</md-icon>
              <p class="md-body-2">Account</p>
              <span flex></span>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
            <md-list-item
              name="logout"
              ng-if="main.isAuthenticated()"
              ng-click="main.logout(); main.close();"
              md-nav-href="#"
              >
              <md-icon md-font-set="material-icons" aria-label="Logout">exit_to_app</md-icon>
              <p class="md-body-2">Logout</p>
              <span flex></span>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
            <md-list-item
              name="login"
              ng-if="!main.isAuthenticated()"
              md-nav-sref="login"
              ui-sref="login"
              sref-opts="{ reload: true, notify: true }"
              ng-click="main.close()"
              >
              <md-icon md-font-set="material-icons" aria-label="Login">exit_to_app</md-icon>
              <p class="md-body-2">Login</p>
              <span flex></span>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
            <md-list-item
              name="register"
              ng-if="!main.isAuthenticated()"
              md-nav-sref="register"
              ui-sref="register"
              sref-opts="{ reload: true, notify: true }"
              ng-click="main.close()"
              >
              <md-icon md-font-set="material-icons" aria-label="Register">create</md-icon>
              <p class="md-body-2">Register</p>
              <span flex></span>
              <md-icon>chevron_right</md-icon>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
    </section>

    <main ui-view class="site-content"></main>

    <footer>
      <md-toolbar class="md-hue-2 md-scroll-shrink footer-toolbar">
        <div>Made With <span>&hearts;</span> @ General Assembly London</div>
      </md-toolbar>
    </footer>
  </body>
</html>
