md-content {
  overflow: unset;
}

md-card {
  border-radius: 15px;
}

.md-button {
  border-radius: 4px;
}

md-toast {
  position: fixed;

	&.success .md-toast-content {
    background-color: #4CAF50;
    color: $white;
  }

	&.error .md-toast-content {
    background-color: #FF0000;
    color: $white;
  }
	&.warning .md-toast-content {
    background-color: #F44336;
    color: $white;
  }

  .md-toast-content {
    md-icon {
      color: $white;
    }

    .md-button {
      border-radius: 2px;
    }
  }

}

md-dialog {
  // max-height: 85%;

  &.md-dialog-fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  &.md-content-overflow {
    border: 0;
  }
  md-dialog-actions {
    border: 0;
    padding: 0;

    .md-button {
      padding: 0;
      margin: 0 auto;
      width: 95%;
    }
  }

  md-dialog-content {
    .md-dialog-content {
      padding: 0;
    }
  }
}

md-dialog.userModal {
  md-dialog-content {
    padding: 0 0 16px 0;

    .md-dialog-content {

      .userModalImage {
        margin: auto;
        max-width: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      h3 {
        padding: 16px 0 0 0;
      }
    }
  }
}

md-dialog.imageModal {
  md-dialog-content {
    .md-dialog-content {
      padding: 0;

      .uploadedUserImage {
        margin: auto;
        max-width: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}

md-progress-circular {
  margin: 0 0.5rem 0 0;
}

md-progress-circular.md-default-theme path,
md-progress-circular path {
  stroke: $white;
}

.loading-spiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

$mdb-animation-curve-default: cubic-bezier(0.4, 0, 0.2, 1);
$default-spacing: 10px;

@keyframes rating-stars-blink {
  0% {
    opacity: .8;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

rating-stars {
  .mutable {
    cursor: pointer;
  }
  .hover {
    .star {
      outline: 0;
      position: relative;

      &:hover {
        &::after {
          animation-name: rating-stars-blink;
          animation-duration: .5s;
          animation-timing-function: $mdb-animation-curve-default;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        color: $brand-color;
        content: 'star';
        opacity: 0;
      }
    }
  }

  .ratings-right,
  .ratings-left {
    vertical-align: middle;
    color: #9C27B0;
  }

  .ratings-right {
    margin-left: $default-spacing / 2;
  }

  .ratings-left {
    margin-right: $default-spacing / 2;
  }

  .star {
    color: #9C27B0;
    transition: color .2s $mdb-animation-curve-default;
    vertical-align: middle;
    outline: 0;

    &::before {
      content: 'star_border';
    }

    &.on,
    &.on-half {
      color: $brand-color;

      &.my {
        color: $brand-color
      }
    }

    &.on {
      &::before {
        content: 'star';
      }
    }

    &.on-half {
      &::before {
        content: 'star_half';
      }
    }
  }
}

// .angular-star-ratings-container {
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: center;
//   align-items: center;
//   width: 15%;
//   margin: 0 auto;
//
//   .button {
//     cursor: pointer;
//
//     .material-icons {
//       font-size: 25px;
//     }
//   }
//
//   .star-button {
//     // text-shadow: 0.06em .04em #000000;
//     &.star-on {
//       .material-icons {
//         color: $brand-color;
//       }
//     }
//
//     &.star-off {
//       .material-icons {
//         color: #ddd;
//       }
//     }
//   }
// }

// md-toast.md-success-toast-theme .md-toast-content {
//   background-color: green;
// }
//
// md-toast.md-error-toast-theme .md-toast-content {
//   background-color: blue;
// }
//
// .success .md-toast-content {
//   background: green;
// }
// .error .md-toast-content {
//   background: red;
// }
// .info .md-toast-content {
//   background: orange;
// }
// .warning .md-toast-content {
//   background: purple;
// }
