md-content {
  overflow: unset;
}

md-card {
  border-radius: 15px;
}

.md-button {
  border-radius: 15px;
}

strong {
  font-weight: 900;
}

// .toastdemoCustomUsage #custom-toast-container {
//   height: 300px;
//   padding: 25px;
// }
//
// .toastdemoCustomUsage #custom-toast-container .md-button.md-raised {
//   padding-left: 10px;
//   padding-right: 10px;
// }

md-toast {
  position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // min-width: 100%;
	// margin: 0;
  // padding: 0;

	&.success .md-toast-content {
    background-color: #4CAF50;
    color: $white;
  }

	&.error .md-toast-content {
    background-color: #FF0000;
    color: $white;
  }
	&.warning .md-toast-content {
    background-color: #F44336;
    color: $white;
  }

  .md-toast-content {
    md-icon {
      color: $white;
    }

    .md-button {
      border-radius: 2px;
    }
  }

}
//
// md-toast.md-success-toast-theme .md-toast-content {
//   background-color: green;
// }
//
// md-toast.md-error-toast-theme .md-toast-content {
//   background-color: blue;
// }
//
// .success .md-toast-content {
//   background: green;
// }
// .error .md-toast-content {
//   background: red;
// }
// .info .md-toast-content {
//   background: orange;
// }
// .warning .md-toast-content {
//   background: purple;
// }
