.alert {
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 15px;
  border: 1px solid #ff5252;
}

.alert-danger {
  color: #FFFFFF;
  background-color: #ff5252;
  border-color: #ff5252;
}

.alert-info {
  background-color: #ff0000;
  color: $white;
  text-transform: uppercase;
  width: 25%;
  margin: 0 auto;
  border: 0;
  text-align: center;
}
