html, body {
  height: 100%;
}

body {
  background: $primary-color;
  // font-family: $body-font;
  font-family: $lato-font;
}

main {
  background: $white;
  min-height: 100%;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
