// $main-green: #8FCF91;
// $bright-green: #AFE859;
// $brand-color: #6a148e;
// $brand-color: #00A2BB;
// $brand-color: rgba(255, 0, 0, 0.4);
// $button-color: rgb(1, 162, 187);
$brand-color    : #6a1b9a;
$primary-color  : #ca4445;
$secondary-color: #002b36;
$tertiary-color : #f6fafd;
$accent-color   : #83fd00;
$white          : #ffffff;
$black          : #000000;

$lato-font:    'Lato', sans-serif;
$heading-font: 'Lato', sans-serif;
$body-font:    'Khula', sans-serif;
