$brand-color    : #6a1b9a;
// $brand-color    : rgba(106, 27, 154, 1);
$primary-color  : #ca4445;
$secondary-color: #002b36;
$tertiary-color : #f6fafd;
$accent-color   : #83fd00;
$white          : #ffffff;
$black          : #000000;

$lato-font:    'Lato', sans-serif;
$heading-font: 'Lato', sans-serif;
$body-font:    'Khula', sans-serif;
