<md-content class="md-padding propsIndex">
  <md-card class="md-padding searchProperties">

    <md-card-title>
      <md-card-title-text>
        <md-icon class="material-icons" aria-label="Property Logo">house</md-icon>
        <span class="md-headline">Search Properties</span>
      </md-card-title-text>
    </md-card-title>

    <form
      name="propertiesIndex.propertiesIndexForm"
      class="propertiesIndex.propertiesIndexForm"
      novalidate
      >
      <div class="propertiesSearch">
        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Search Logo">search</md-icon>
          <label for="area">Location: </label>

          <input
            name="area"
            class="area"
            id="area"
            type="text"
            autocomplete
            ng-model="propertiesIndex.area"
            geometry="propertiesIndex.area"
            placeholder="e.g. Chelsea, SW3 or Sloane Square Station"
            ng-required="true"
            aria-label="Location (required)"
            >
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Filter Logo">house</md-icon>
          <label for="propertyType">Property Type</label>

          <md-select
            name="propertyType"
            class="propertyType"
            id="propertyType"
            type="text"
            ng-model="propertiesIndex.propertyType"
            ng-required="true"
            aria-label="Property Type : Houses | Flats"
            >
            <md-option ng-value="" ng-selected="true">Show all</md-option>
            <md-option ng-value="'houses'">Houses</md-option>
            <md-option ng-value="'flats'">Flats</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Sterling Logo">
            attach_money
            <!-- <i class="fas fa-pound-sign"></i> -->
          </md-icon>
          <label for="minimumPrice">Minimum Price</label>

          <md-select
            name="minimumPrice"
            class="minimumPrice"
            id="minimumPrice"
            type="number"
            ng-model="propertiesIndex.minimumPrice"
            ng-required="true"
            aria-label="Minimum Price (required)"
            >
            <md-option ng-value="" ng-selected="true">No min</md-option>
            <md-option ng-value="1000">£1,000</md-option>
            <md-option ng-value="2000">£2,000</md-option>
            <md-option ng-value="3000">£3,000</md-option>
            <md-option ng-value="4000">£4,000</md-option>
            <md-option ng-value="5000">£5,000</md-option>
            <md-option ng-value="6000">£6,000</md-option>
            <md-option ng-value="7000">£7,000</md-option>
            <md-option ng-value="8000">£8,000</md-option>
            <md-option ng-value="9000">£9,000</md-option>
            <md-option ng-value="10000">£10,000</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Sterling Logo">
            attach_money
            <!-- <i class="fas fa-pound-sign"></i> -->
          </md-icon>
          <label for="maximumPrice">Maximum Price</label>

          <md-select
            name="maximumPrice"
            class="maximumPrice"
            id="maximumPrice"
            type="number"
            ng-model="propertiesIndex.maximumPrice"
            ng-required="true"
            aria-label="Minimum Price (required)"
            >
            <md-option ng-value="" ng-selected="true">No max</md-option>
            <md-option ng-value="1000">£1,000</md-option>
            <md-option ng-value="2000">£2,000</md-option>
            <md-option ng-value="3000">£3,000</md-option>
            <md-option ng-value="4000">£4,000</md-option>
            <md-option ng-value="5000">£5,000</md-option>
            <md-option ng-value="6000">£6,000</md-option>
            <md-option ng-value="7000">£7,000</md-option>
            <md-option ng-value="8000">£8,000</md-option>
            <md-option ng-value="9000">£9,000</md-option>
            <md-option ng-value="10000">£10,000</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Bed Logo">single_bed</md-icon>
          <label for="minimumBeds">Minimum Beds</label>

          <md-select
            name="minimumBeds"
            class="minimumBeds"
            id="minimumBeds"
            type="number"
            ng-model="propertiesIndex.minimumBeds"
            ng-required="true"
            aria-label="Minimum Beds (required)"
            >
            <md-option ng-value="" ng-selected="true">No min</md-option>
            <md-option ng-value="0">Studio+</md-option>
            <md-option ng-value="1">1</md-option>
            <md-option ng-value="2">2</md-option>
            <md-option ng-value="3">3</md-option>
            <md-option ng-value="4">4</md-option>
            <md-option ng-value="5">5</md-option>
            <md-option ng-value="6">6</md-option>
            <md-option ng-value="7">7</md-option>
            <md-option ng-value="8">8</md-option>
            <md-option ng-value="9">9</md-option>
            <md-option ng-value="10">10</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Bed Logo">single_bed</md-icon>
          <label for="maximumBeds">Maximum Beds</label>

          <md-select
            name="maximumBeds"
            class="maximumBeds"
            id="maximumBeds"
            type="number"
            ng-model="propertiesIndex.maximumBeds"
            ng-required="true"
            aria-label="Maximum Beds (required)"
            >
            <md-option ng-value="" ng-selected="true">No max</md-option>
            <md-option ng-value="1">1</md-option>
            <md-option ng-value="2">2</md-option>
            <md-option ng-value="3">3</md-option>
            <md-option ng-value="4">4</md-option>
            <md-option ng-value="5">5</md-option>
            <md-option ng-value="6">6</md-option>
            <md-option ng-value="7">7</md-option>
            <md-option ng-value="8">8</md-option>
            <md-option ng-value="9">9</md-option>
            <md-option ng-value="10">10</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Filter Logo">filter_list</md-icon>
          <label for="orderBy">Order By</label>

          <md-select
            name="orderBy"
            class="orderBy"
            id="orderBy"
            type="text"
            ng-model="propertiesIndex.orderBy"
            ng-required="true"
            aria-label="Order By : Price | Age"
            >
            <md-option ng-value="" ng-selected="true">No order</md-option>
            <md-option ng-value="'price'">Price</md-option>
            <md-option ng-value="'age'">Age</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons" aria-label="Filter Logo">filter_list</md-icon>
          <label for="ordering">Sort By</label>

          <md-select
            name="ordering"
            class="ordering"
            id="ordering"
            type="text"
            ng-model="propertiesIndex.ordering"
            ng-required="true"
            aria-label="Sort by : Descending | Ascending"
            >
            <md-option ng-value="" ng-selected="true">No sort</md-option>
            <md-option ng-value="'descending'">Descending</md-option>
            <md-option ng-value="'ascending'">Ascending</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-button class="md-raised md-primary md-button md-ink-ripple search" ng-click="propertiesIndex.getProperties()" ng-disabled="propertiesIndex.propertiesIndexForm.$invalid">Search</md-button>
    </form>

  </md-card>

  <md-card class="md-padding propsIndexCard col" ng-show="propertiesIndex.showResults()">
    <div class="foundListings" ng-show="propertiesIndex.showResults()">
      <span class="md-heading listings" ng-if="propertiesIndex.showResults().length !== 0">Found {{ propertiesIndex.results.result_count }} Properties</span>
      <span class="md-heading listings" ng-if="propertiesIndex.showResults().length === 0">No results found</span>
    </div>

    <div class="propsIndexCardContent" ng-show="propertiesIndex.showResults()">
      <div class="col-md-6">
        <div class="md-menu-container" layout-align="center center" layout="column">
          <md-menu ng-model="toShow">
            <md-button aria-label="Open Sort options menu" ng-click="propertiesIndex.openMenu($mdMenu, $event)">Limit Properties Showing</md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(5)" value="5">5</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(10)">10</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(20)">25</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(30)">25</md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(49)">All</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>

      <div class="col-md-6">
        <div class="md-menu-container" layout-align="center center" layout="column">
          <md-menu ng-model="toShow">
            <md-button
              ng-click="propertiesIndex.openMenu($mdMenu, $event)"
              aria-label="Open Sort options menu"
              >
              Sort By
              <span ng-if="propertiesIndex.selected"> - {{ propertiesIndex.selected }}</span>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('price')">Price - Low to High</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('-price')">Price - High to Low</md-button>
              </md-menu-item>
              <!-- <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('-popular')">Popular</md-button>
              </md-menu-item> -->
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('-first_published_date')">Newest First</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('first_published_date')">Oldest First</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </div>

    <div class="propsIndexContainer row">
      <md-card
        class="searchResultsCard"
        ng-repeat="props in propertiesIndex.results.listing | limitTo: propertiesIndex.limit | orderBy: propertiesIndex.sortBy"
        ng-animate="'animate'"
        ng-show="$index < propertiesIndex.toShow"
        >
        <div style="background-image:url('{{ props.image_645_430_url }}')" class="zooplaImage"></div>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ props.displayable_address }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <h3><strong>Address: </strong>{{ props.displayable_address }}</h3>
          <h3><strong>Price Per Month: </strong>£{{ props.rental_prices.per_month | number : fractionSize }}</h3>
          <h3><strong>Bedrooms: </strong>{{ props.num_bedrooms }}</h3>
          <h3><strong>Property Type: </strong>{{ props.property_type }}</h3>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <md-button
            class="md-raised md-primary md-button md-ink-ripple moreInfoButton"
            ng-click="propertiesIndex.showProperty(props)"
            >
            More Info
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-card>

  <md-card class="loadMore" ng-show="propertiesIndex.showResults()">
    <md-button
      class="md-raised md-primary md-button md-ink-ripple"
      ng-if="propertiesIndex.results.listing"
      ng-click="propertiesIndex.loadMore()"
      >
      Load More
    </md-button>
  </md-card>
</md-content>
