<md-content class="md-padding propsIndex">
  <md-card class="md-padding searchProperties">

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Search Properties</span>
      </md-card-title-text>
    </md-card-title>

    <form
      name="propertiesIndex.propertiesIndexForm"
      lass="propertiesIndex.propertiesIndexForm"
      novalidate
      >
      <div class="propertiesSearch">
        <md-input-container class="md-block">
          <md-icon class="material-icons">search</md-icon>
          <label for="area">Location: </label>

          <input
            name="area"
            class="area"
            id="area"
            type="text"
            autocomplete
            ng-model="propertiesIndex.area"
            geometry="propertiesIndex.area"
            placeholder="e.g. Chelsea, SW3 or Sloane Square Station"
            ng-required="true"
            aria-label="Location (required)"
            >
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon class="material-icons">single_bed</md-icon>
          <label for="beds">Bedrooms</label>

          <md-select
            name="beds"
            class="beds"
            id="beds"
            type="number"
            ng-model="propertiesIndex.beds"
            ng-required="true"
            aria-label="Bedroom (required)"
            >
            <md-option ng-value="any" ng-selected="true" ng-disabled="true">Any</md-option>
            <md-option ng-value="1">1</md-option>
            <md-option ng-value="2">2</md-option>
            <md-option ng-value="3">3</md-option>
            <md-option ng-value="4">4</md-option>
            <md-option ng-value="5">5</md-option>
            <md-option ng-value="6">6</md-option>
            <md-option ng-value="7">7</md-option>
            <md-option ng-value="8">8</md-option>
            <md-option ng-value="9">9</md-option>
            <md-option ng-value="10">10</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-card-actions>
        <md-button class="md-raised md-primary md-button md-ink-ripple search" ng-click="propertiesIndex.getProperties()">Search</md-button>
      </md-card-actions>
    </form>

  </md-card>

  <md-card class="md-padding propsIndexCard col" ng-show="propertiesIndex.showResults()">
    <div class="foundListings" ng-show="propertiesIndex.showResults()">
      <span class="md-heading listings" ng-if="propertiesIndex.showResults().length !== 0">Found {{ propertiesIndex.results.result_count }} Properties</span>
      <span class="md-heading listings" ng-if="propertiesIndex.showResults().length === 0">No results found</span>
    </div>

    <div class="propsIndexCardContent" ng-show="propertiesIndex.showResults()">
      <div class="col-md-6">
        <div class="md-menu-container" layout-align="center center" layout="column">
          <md-menu ng-model="toShow">
            <md-button aria-label="Open Sort options menu" ng-click="propertiesIndex.openMenu($mdMenu, $event)">Limit Properties Showing</md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(5)" value="5">5</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(10)">10</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(20)">25</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(30)">25</md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.maxNum(49)">All</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>

      <div class="col-md-6">
        <div class="md-menu-container" layout-align="center center" layout="column">
          <md-menu ng-model="toShow">
            <md-button
              ng-click="propertiesIndex.openMenu($mdMenu, $event)"
              aria-label="Open Sort options menu"
              >
              Sort By
              <span ng-if="propertiesIndex.selected"> - {{ propertiesIndex.selected }}</span>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('price')">Price - Low to High</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('-price')">Price - High to Low</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('-popular')">Popular</md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('-createdAt')">Newest First</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="propertiesIndex.sortMethod('createdAt')">Oldest First</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </div>

    <div class="propsIndexContainer row">
      <md-card
        class="searchResultsCard col l5"
        ng-repeat="props in propertiesIndex.results.listing | orderBy: propertiesIndex.sortBy"
        ng-animate="'animate'"
        ng-show="$index < propertiesIndex.toShow"
        >
        <div style="background-image:url('{{ props.image_645_430_url }}')" class="zooplaImage"></div>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ props.displayable_address }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <h3><strong>Address: </strong>{{ props.displayable_address }}</h3>
          <h3><strong>Price Per Month: </strong>£{{ props.rental_prices.per_month | number : fractionSize }}</h3>
          <h3><strong>Bedrooms: </strong>{{ props.num_bedrooms }}</h3>
          <h3><strong>Property Type: </strong>{{ props.property_type }}</h3>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <md-button
            class="md-raised md-primary md-button md-ink-ripple moreInfoButton"
            ng-click="propertiesIndex.showProperty(props)"
            >
            More Info
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-card>

  <md-card class="loadMore" ng-show="propertiesIndex.showResults()">
    <md-button class="md-raised md-primary md-button md-ink-ripple" ng-if="propertiesIndex.results.listing" ng-click="propertiesIndex.loadMore()">Load More</md-button>
  </md-card>
</md-content>
