<md-dialog
  class="propertyShowModal"
  aria-label="Image modal"
  >
  <md-toolbar>
    <div
      class="md-toolbar-tools"
      layout="row"
      layout-align="center center"
      >
      <h3>{{ propsShow.selected.displayable_address }}</h3>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div
      class="md-dialog-content"
      layout="column"
      layout-align="center center"
      >
      <div
        class="propsShowImage"
        style="background-image:url('{{ propsShow.selected.image_645_430_url }}')"
        >
      </div>
      <ul>
        <li>{{ propsShow.selected.description }}</li>
        <div>
          <span class="md-headline">Agency Info</span>
          <h3><strong>Company: </strong>{{ propsShow.selected.agent_name }}</h3>
          <h3><strong>Contact: </strong>{{ propsShow.selected.agent_phone }}</h3>
        </div>
      </ul>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button
      class="md-raised md-primary md-button md-ink-ripple"
      ng-click="propsShow.storeAndView(selected); propsShow.hide();"
      aria-label="Store & View Property"
      >
      Save & View Properties
    </md-button>
    <md-button
      class="md-raised md-primary md-button md-ink-ripple"
      ng-click="propsShow.storeAndContinue(selected); propsShow.hide();"
      aria-label="Store & Continue Property Search"
      >
      Save & Continue
    </md-button>
    <md-button
      class="md-raised md-warn md-button md-ink-ripple"
      ng-click="propsShow.hide()"
      aria-label="Close"
      >
      Close
    </md-button>
  </md-dialog-actions>
</md-dialog>
